@import "~bootstrap/scss/bootstrap";;

.btn-toolbar {
    align-items: center;
    justify-content: center;
    position: relative;
    top: -28px;
    margin-bottom: -28px;

    div:first-child {
        margin-left: auto;
    }

    div:last-child {
        margin-left: auto;
    }
}

.btn-success {
    background-color: var(--bs-success);
}

.btn-secondary {
    background-color: var(--bs-secondary);
}

.btn-info {
    background-color: var(--bs-info);
}
