<div [ngClass]="{
'closed-sidebar' : layoutOptions.toggleSidebar,
'closed-sidebar-md' : layoutOptions.toggleSidebarMobile,
'closed-sidebar-open': layoutOptions.sidebarHover || layoutOptions.toggleSidebarMobile
}" class="app">
    <header>
        <router-outlet name="header"></router-outlet>
    </header>
    <main class="app_main">
        <div>
            <router-outlet name="left-side-bar"></router-outlet>
        </div>
        <div class="app_main_inner container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
