.navbar .container-fluid,
.navbar-expand-lg .navbar-collapse,
.navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

.navbar {
    padding-top: 0;
}

.container-fluid {
    padding: 0;

    button {
        margin-left: auto;
    }

    .nav-items {
        padding-left: 0.5rem;

        .nav-item {
            display: flex;
            align-items: center;
            height: 3rem;

            .nav-item_label {
                margin-left: 0.5rem;
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        width: 14rem;
        height: 100vh;
        align-items: flex-start;

        &.collapsed {
            width: 4rem;

            .nav-item_label {
                display: none !important;
            }
        }
    }
    .navbar-toggler {
        display: block;
    }
}

@media (max-width: 991px) {
    .navbar.collapsed:not(.show), .navbar.collapsed {
        .nav-items {
            display: none !important;
        }
    }
    .navbar:not(.collapsed) {
        .nav-items {
            display: block !important;
        }
    }
}

