<div class="cardContainer"
     [routerLink]="['/scenario', scenario.id, 'execution', 'last']">
  <div class="rotateObj">
    <h2
      [ngClass]="{'stop': lastExecutionStatus=='STOPPED' ,'ok': lastExecutionStatus=='SUCCESS' , 'ko': lastExecutionStatus=='FAILURE', 'not_executed': lastExecutionStatus=='NOT_EXECUTED' }">
            <span>{{numberOfExecution}} executions</span>
    </h2>
  </div>
  <div class="scenario-card">
    <div class="card-body m-0 p-3">
      <h5 class="card-title">
        <span class="scenario-title">{{scenario.title}}</span>
      </h5>
    </div>
    <div class="card-footer scenario-card-footer m-0 p-2 small-text">
      <div class="mb-1" *ngFor="let tag of scenario.tags">
        <span class="badge badge-info mr-1">{{tag}}</span>
      </div>
      <div class="float-left" *ngIf="lastExecutionDate">{{ 'scenarios.search.lastExecution' | translate }} : {{lastExecutionDate | amDateFormat: 'DD/MM HH:mm' }}</div>
      <div class="float-right fa" [ngClass]="scenario.isComposed ? 'fa-cubes' : 'fa-pencil-alt'"></div>
    </div>
  </div>

</div>
