@import 'colors';

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.cardContainer {
    @extend .noselect;
    height:150px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    outline: 0;
}

.cardContainer:hover {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.3);
}

.scenario-title {
    text-transform: lowercase;
    color: black;
    font-size: 16px;
}

.scenario-card {
    width:360px;
}

.scenario-card-footer {
    border:none;
    position: absolute;
    bottom:0;
    background: none;
    width: calc(100% - 25px);
}

.rotateObj h2 {
    position:relative;
    float:right;
    width:25px;
    height: 150px;
    font-size:14px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    border-radius: 0 8px 8px 0;
}

.rotateObj {
    h2 {
        color: white;
        font-weight: 600;
        background: -webkit-linear-gradient(violet, blue,cyan,green,yellow, orange); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(violet, blue,cyan,green,yellow, orange); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(violet, blue,cyan,green,yellow, orange); /* For Firefox 3.6 to 15 */
        background: linear-gradient(violet, blue,cyan,green,yellow, orange); /* Standard syntax (must be last) */
    }
    h2.ok{
        background: $liens;   
    }
    h2.ko{
        background: $labelko;   
    }
    h2.not_executed{
        background: $positive;   
    }
    h2.stop{
        background: grey;   
    }
}

.rotateObj h2 span {
    width:150px; /* same as height of .rotateObj */
    -webkit-transform-origin:74px 69px;
    transform-origin:74px 69px;
    display:inline-block;
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
    text-align:center;
    padding-right: 15px;
}

.small-text {
    font-size: 60%;
}
