.info-toast {
    width: 300px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(255,255,255,.85);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
    border-radius: .25rem;
}

.info-toast-header {
    color:#6c757d; 
    font-size: .875rem;
    border-bottom:1px solid #c3c6c9;
}