.main-header {
    height: 3rem;
    display: flex;
    align-items: center;

    .logo {
       // margin-top: 3rem;
        z-index: 1000;
        img {
            position: relative;
            width: 2rem;
        }
    }

    .nav {
        margin-left: auto;
        .nav-link {
            cursor: pointer;
        }
    }

}
