@import "~bootstrap/scss/bootstrap";

.nav-link, {
    cursor: pointer;
    border-radius: .25rem;
    &:hover {
        background: $dropdown-link-hover-bg;
    }
    &:not(:hover) {
        color: $white !important;
    }
}
