<div id="{{id + 'scroll-to'}}"></div>
<div id="{{id}}" class="technical-step" role="toolbar" (click)="$event.stopPropagation()">

  <pre tabindex="0" class="step-impl-preview" *ngIf="!implementationEdition" attr.data-text="{{ placeholder }}"
       (click)="implementationFocus()"
       #preStepImplementation></pre>

    <div *ngIf="implementationEdition" class="ace-container">
        <div class="action-pane" role="group">
            <button type="button" class="btn btn-danger" (mousedown)="deleteStep()">
                <i class="fa fa-trash">&nbsp;</i>
            </button>
        </div>

        <div style="min-height:150px; max-height:550px;margin-left: 20px;">
            <chutney-ace-editor #textEditor
                [initialContent]="step.task"
                [showConfiguration]="false"
                [options]="{
                maxLines: 25,
                minLines: 10,
                fontSize: '12pt',
                showLineNumbers: false,
                showPrintMargin: false
            }"
                (textChangeEvent)="onScenarioContentChanged($event)"
                (editorBlur)="implementationBlur()">
            </chutney-ace-editor>
        </div>

    </div>
</div>
