@import 'colors';

.technical-step {
    padding-bottom: 10px;
    margin-bottom: 10px;

    .step-impl-preview {
        font-family: 'Source Code Pro';
        padding-left: 50px;
        background-color: $vert4;
        filter: brightness(95%);
        color: $grisfonce1;
        line-height: normal;
        margin-left: 1px;

        &:empty:before {
            content: attr(data-text);
            color: $grisclair1;
        }

        .step-param-highlight {
            font-weight: bold;
            color: $blanc;
            background-color: $positive;
            letter-spacing: 1px;
            padding: 0 10px;
            border-radius: 5px;
        }

        .step-param-highlight-value {
            font-weight: bold;
            color: $blanc;
            background-color: $vert1;
            letter-spacing: 1px;
            padding: 0 10px;
            border-radius: 5px;
        }

        .step-param-highlight-no-value {
            font-weight: bold;
            color: $blanc;
            background-color: $labelko;
            letter-spacing: 1px;
            padding: 0 10px;
            border-radius: 5px;
        }
    }

    .action-pane {
        position: absolute;
        right: 0;
        z-index: 100;
        margin: 5px;
    }

    .ace-container {
        position: relative;
    }
}
