// Header Base
@import "~bootstrap/scss/bootstrap";
@import "../layout-variables";
.app-header {
  height: $app-header-height;
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 21;
  transition: all .2s;
  width: 100%;

  .logo-src {
    display: none;
  }

  .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    padding-left: $app-sidebar-width;
    height: $app-header-height;
    transition: all .2s;

    .app-header-right {
      align-items: center;
      display: flex;
      margin-left: auto;
      padding: 0 $layout-spacer-x 0 0;
    }
  }

}
.close-sidebar-btn {
    cursor: pointer;
    color: var(--bs-primary);
    font-size: larger;
    padding-right: 0.5rem;
}

.app-header__menu,
.app-header__mobile-menu {
  display: none;
  padding: 0 $layout-spacer-x;
  height: $app-header-height;
  align-items: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: $white!important;
}

