// Header Base
@import "~bootstrap/scss/bootstrap";
@import "../layout-variables";

.app-header {
  height: $app-header-height;
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 21;
  transition: all .2s;
  width: 100%;

  .logo-src {
    display: none;
  }

  .app-header__content {
    display: flex;
    align-items: center;
    align-content: center;
    flex: 1;
    height: $app-header-height;
    transition: all .2s;

    .app-header-right {
      align-items: center;
      display: flex;
      margin-left: auto;
      padding: 0 $layout-spacer-x 0 0;
    }

    .app-header-left {
      padding: 0 $layout-spacer-x;
      height: $app-header-height;
      align-items: center;
      display: flex;
    }    
  }
}

.close-sidebar-btn {
  font-size: x-large;
  cursor: pointer;
  color: var(--bs-white);
}

