@import 'global/mixins';
@import 'global/animations';

@include border-animation(
    $animation_name: running-report-step-border-anim,
    $fromWidth: 0 0 0 3px,
    $fromStyle: solid,
    $fromColor: rgba(#686C71, 0),
    $toWidth: 0 0 0 5px,
    $toStyle: solid,
    $toColor: rgba(#686C71, 50)
);

div.step-container-wrapper {
    margin: 1px;
    line-height: normal;
    font-size: 14px;
}

div.step-container {
    margin: 5px 0 5px 0;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    //background-color: white;
    border-left: 4px solid;
}

div.step-container:hover {
    // margin: 0 1px 10px 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

div.result-header {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    div.result-header-status {
        background-color: var(--bs-light);
        font-size: 10px;
        padding: 4px 15px;
    }

    div.step-name {
        margin-top: 0;
        margin-bottom: 0;

        span {
            flex: auto;
        }

        .btn-toolbar {
            float: right;
        }
    }

}

.collapsible:hover {
    cursor: pointer;
}

div.result-body {
    border: 0 solid var(--bs-light);
    border-top-width: .05rem;
    width: 100%;
}

div.result-header-success {
    border-left-color: #0275d8;

    div.result-header-status {
        color: #0275d8;
    }
}

div.result-header-running {
    //color: rgb(240,173,78);
    @include animation(
        $animation_name: running-report-step-border-anim,
        $animation_duration: 750ms,
        $animation_timing-function: linear,
        $animation_iteration-count: infinite,
        $animation_direction: alternate);
}

div.result-header-error {
    border-left-color: #d9534f;
    div.result-header-status {
        color: #d9534f;
    }
}


div.step {

    margin-top: 0;
    margin-bottom: 0;
    height: 100%;

    .inputs {
        font-size: 12px;
    }
}

.optional {
    color: #58c69f;
}

button.btn-link {
    border-width: 0;
    padding: 0;
}

.error {
    color: #d9534f;
    font-weight: bold;
    font-size: 12px;

    pre {
        color: #d9534f;
        font-weight: bold;
    }

    button {
        color: #d9534f;
        text-decoration: underline;
    }
}

.information {
    color: #58c69f;
    font-weight: bold;
    font-size: 12px;

    button {
        color: #58c69f;
        text-decoration: underline;
    }
}

.small-button {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.7rem;
    --bs-btn-font-size: 0.65rem;
    --bs-btn-border-radius: 0.25rem;
}
