<div class="row edition-header">
  <div class="header-left col-md-8">
    <div class="field-wrapper">
      <chutney-forms-search-field [id]="'step-search'" [placeholder]="'dead.code' | translate" (searchInputEvent)="filterSearchChange($event)"></chutney-forms-search-field>
    </div>
    <div class="group-pane">
      <div class="group-label">{{'global.sort.use' | translate}}</div>
      <div class="group-content">
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="all" name="usage" [(ngModel)]="usage" (ngModelChange)="loadSteps()">{{'global.sort.all' | translate}}
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="given" name="usage" [(ngModel)]="usage" (ngModelChange)="loadSteps()">{{'global.bdd.given' | translate}}
          </label>
        </div>
        <div class="form-check-inline disabled">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="when" name="usage" [(ngModel)]="usage" (ngModelChange)="loadSteps()">{{'global.bdd.when' | translate}}
          </label>
        </div>
        <div class="form-check-inline disabled">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="then" name="usage" [(ngModel)]="usage" (ngModelChange)="loadSteps()">{{'global.bdd.then' | translate}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="header-right triangle-left col-md-4">
    <div class="counter">{{steps.length}} / {{totalCount}}</div>
    <div class="group-pane">
      <div class="group-label">{{'global.sort.sort' | translate}}</div>
      <div class="group-content">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="asc" name="sort" [(ngModel)]="sort" (ngModelChange)="loadSteps()">{{'global.sort.ascending' | translate}}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="desc" name="sort" [(ngModel)]="sort" (ngModelChange)="loadSteps()">{{'global.sort.descending' | translate}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="step-content" infinite-scroll (scrolled)="loadSteps(true)">
  <div class="row" *ngFor="let step of steps">
    <chutney-substep [step]="step"></chutney-substep>
  </div>
</div>
