@import "~bootstrap/scss/bootstrap";

input {
    border: solid 1px $light;
    background-color: $white;
    border-radius: 0;
    caret-color: $teal-100;
    font-family: Ubuntu;
    font-size: 16px;

    &::placeholder {
        color: $light;
        opacity: 1; /* Firefox */
    }
    &:focus {
        border-color: $teal-100;
    }
    &.invalid {
        border-color: $warning;
        color: $warning;
        &::placeholder {
            color: $warning;
        }
    }
}
