<ng-container *ngIf="(testCase$ | async) as testCase">
    <div class="row edition-header">
        <div class="header-left">
            <div class="title" [innerHTML]="testCase.title | linkify"></div>
            <div class="description" [innerHTML]="testCase.description | linkify"></div>
        </div>
        <div class="header-right triangle-left">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-success"
                        (click)="execute($event)"
                        [title]="'global.actions.execute' | translate"
                        [disabled]="!componentForm.valid">
                    <span class="fa fa-play"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <form [formGroup]="componentForm" autocomplete="off" class="col text-center was-validated">
                <fieldset class="form-group border p-2" formArrayName="parameters">
                    <legend class="px-3 float-none"
                            style="width: auto;">{{'scenarios.execution.dataset.title' | translate}}</legend>
                    <div class="row"
                         *ngFor="let parameter of componentForm.get('parameters')?.controls; let i=index">
                        <label for="{{i}}" class="col-3 mb-0 align-self-center">
                            {{testCase.computedParameters[i].key}}
                        </label>
                        <textarea id="{{i}}" [rows]="1" type="text" class="col-9 form-control"
                                  [formControlName]="i" required></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</ng-container>
