.container {
    max-width: 100% !important;
}

.small-font {
    font-size: 0.7em;
}

.table-scroll {
    overflow-y: auto;
    height: calc(100vh - (50px /*menu*/ + 10px /*row margin*/ + 38px /*menu buttons*/ + (1.5em + 0.75rem + 2px + 0.5rem + 2px) /*search*/ + 1rem /*inner table margin*/ + 0px));
}

.table-scroll-with-tags-filter {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - (50px /*menu*/ + 10px /*row margin*/ + 38px /*menu buttons*/ + (1.5em + 0.75rem + 2px + 0.5rem + 2px) /*search*/ + (35px + 102px) /*tags*/ + (1px + 2rem) /*hr*/ + 1rem /*inner table margin*/ + 0px));
}

.tags-scroll {
    height: 102px;
    overflow-y: auto;
}

.component-list {
    padding-right: 10px;

    table {
        table-layout: fixed;
    }

    .table-sm {
        font-size: 12px;
    }
}

.selected {
    color: black;
    font-weight: bold;
    box-shadow: none;
}

.not-selected {
    color: lightsteelblue;
    font-weight: normal;
    box-shadow: none;
}

.pointer {
    cursor: pointer;
}

.btn-toolbar {
    align-items: center;
    justify-content: center;
    position: relative;
    top: -28px;
    margin-bottom: -28px;
    margin-left: auto;
}

.edition {
    position: absolute;

    .edition-header {
        height: 140px;
    }

    .edition-body {
        height: calc(100vh - (50px + 10px + 140px + 10px + 10px));
        overflow-y: auto;
    }
}

textarea.no-resize {
    resize: none;
}

.bg-draggable {
    background-color: lightgray;
}

.drop-zone {
    font-size: 12px;
    padding: .5rem .5rem 0rem !important;
}

.drop-zone-empty {
    padding: 2rem !important;
}

.component-list-container-minimize {
    width: 45px;
}

.edition-component-right-panel-minimize {
    width: 85%;
}

.right-panel-minimize-btn {
    width: 45px;
}

.right-panel-minimize-btn {
    position: absolute;
    height: calc(80vh);
    border: none;
}

.left-panel-minimize-btn {
    position: absolute;
    height: calc(100vh);
    border: none;
}
