<div class="row">
    <div class="ps-0 m-0 position-relative"
        [ngClass]="{'col-1 p-0 h100 component-list-container-minimize':componentMinimize, 'col-3':!componentMinimize}">
        <button type="button"
            class="left-panel-minimize-btn btn btn-xs btn-default shadow-none p-0 px-1 border-end rounded-0"
            [ngClass]="{'start-0':componentMinimize, 'end-0':!componentMinimize}"
            title="{{(componentMinimize ? 'global.actions.show' : 'global.actions.hide') | translate}}"
            (click)="componentMinimize = !componentMinimize;">
            <span class="fa p-1"
                [ngClass]="{'fa-angle-double-right':componentMinimize, 'fa-angle-double-left':!componentMinimize}"></span>
        </button>
        <button type="button" class="btn btn-xs btn-default ms-2"
            [ngClass]="{'selected':viewComponent, 'not-selected':!viewComponent, 'd-none': componentMinimize}"
            (click)="viewComponent = true; cancel();">
            <span class="fa fa-cubes"></span> {{'components.menu.components' | translate}}
        </button>
        <button type="button" class="btn btn-xs btn-default ms-2"
            [ngClass]="{'selected':!viewComponent, 'not-selected':viewComponent, 'd-none': componentMinimize}"
            (click)="viewComponent = false; cancel();">
            <span class="fa fa-clone"></span> {{'components.menu.actions' | translate}}
        </button>

        <div *ngIf="viewComponent" class="component-list" [ngClass]="{'d-none': componentMinimize}">
            <div class="mt-2 me-1">
                <input name="search" type="text" class="form-control mb-2"
                    placeholder="{{'components.shared.list.filter.placeholder' | translate}}"
                    [(ngModel)]="componentFilter" />
                <button *ngIf=" !isSelectAll()" type="button" class="btn btn-xs btn-default small-font me-3"
                    (click)="selectAll()">
                    <span class="fa fa-check"></span> Tout sélectionner
                </button>
                <button *ngIf="isSelectAll()" type="button" class="btn btn-xs btn-default small-font me-3"
                    (click)="unSelectAll()">
                    <span class="fa fa-times"></span> Tout désélectionner
                </button>
                <button class="chutney-tag small-font"
                    [ngClass]="tagData.isNoTagSelected() ? 'chutney-tag-selected' : 'chutney-tag-unselected'"
                    (click)="toggleNoTag()">
                    NO_TAG
                </button>
                <div class="tags-scroll d-flex flex-wrap align-content-start small-font">
                    <div *ngFor="let tag of tagData.all()" class="me-2 mt-1">
                        <button
                            [ngClass]="tagData.isSelected(tag)? 'chutney-tag chutney-tag-selected' : 'chutney-tag chutney-tag-unselected'"
                            (click)="toggleTagSelect(tag)">
                            {{tag}}
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="table-scroll-with-tags-filter me-2">
                <table class="table table-sm table-striped table-hover">
                    <tbody dragula="COPYABLE" id="left"
                        [dragulaModel]="componentTasks |  componentSearch : tagData.selected() : tagData.isNoTagSelected() : tagData.isSelectAll() | searchTextPipe  : componentFilter : ['name']">
                        <tr class="pointer d-flex me-auto"
                            *ngFor="let component of (componentTasks |  componentSearch : tagData.selected() : tagData.isNoTagSelected() : tagData.isSelectAll() | searchTextPipe  : componentFilter : ['name'])"
                            (click)="editComponentTask(component)"
                            [ngClass]="{'selected-component': editableComponent?.name === component.name || actionToEdit?.name === component.name}">
                            <td class="w-100">
                                <span class="fa"
                                    [ngClass]="component.implementation ? 'fa-clone' : 'fa-cubes'"></span>
                                {{component.name}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="!viewComponent" class="component-list" [ngClass]="{'d-none': componentMinimize}">
            <input name="search" type="text" class="sticky-content form-control my-2"
                placeholder="{{'components.action.list.filter.placeholder' | translate}}"
                [(ngModel)]="taskFilter" />
            <div class="table-scroll me-2">
                <table class="table table-sm table-striped table-hover">
                    <tbody>
                        <tr *ngFor="let task of tasks | searchTextPipe: taskFilter:['identifier']"
                            (click)="select(task)" class="pointer"
                            [ngClass]="{'selected-component': task?.identifier === actionSelected?.identifier }">
                            <td> {{task.identifier}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="" [formGroup]="componentForm"
        [ngClass]="{'col-12 ms-3':componentMinimize, 'col-9':!componentMinimize}">
        <div class="text-center bg-info text-white mt-0 " [ngClass]="message ? 'bg-' + messageType : 'mb-4'">
            <strong *ngIf="message">{{ message }}</strong>
        </div>

        <!-- Component panel -->
        <ng-container *ngIf="viewComponent && !actionToEdit" class="">
            <div class="edition-header row">
                <ng-container *ngIf="!executionResult && !editableComponent">
                    <div class="position-relative">
                        <button *hasAuthorization="[Authorization.COMPONENT_WRITE]" type="button"
                            class="btn btn-success position-absolute top-50 start-50 translate-middle"
                            (click)="initNewComponent()" title="{{'components.component.create' | translate}}">
                            <span class="fa fa-plus-circle"></span><br />
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="editableComponent">
                    <div class="col ms-2">
                        <div class="mt-4 pt-3">
                            <span class="fa fa-cubes me-2"></span>
                            <span class="fw-bold">{{'components.menu.components' | translate}}</span>
                        </div>
                        <textarea formControlName="name" rows="2" class="col form-control no-resize" [ngClass]="{
                                'is-valid': componentForm.get('name').valid && componentForm.get('name').enabled,
                                'is-invalid': !componentForm.get('name').valid && componentForm.get('name').enabled
                                }"
                            placeholder="{{'components.shared.edition.fields.intention.placeholder' | translate}}">
                    </textarea>
                    </div>
                    <div class="col">
                        <div class="text-center mt-1">
                            <ng-container *hasAuthorization="[Authorization.COMPONENT_WRITE]">
                                <chutney-toolbar-component (editEvent)="save()" (cancelEvent)="cancel()"
                                    (executeEvent)="execute($event)" (childEvent)="seeChild()"
                                    (deleteEvent)="deleteComponent(editableComponent.id)"
                                    (duplicateEvent)="duplicateComponent()" [editComponent]="editableComponent"
                                    [parents]="parents">
                                </chutney-toolbar-component>
                            </ng-container>
                        </div>
                        <div class="pt-1">
                            <label class="form-control-label fw-bold" for="tags">{{
                                'scenarios.edition.form.tags' | translate }}</label>
                        </div>
                        <div>
                            <textarea formControlName="tags" type="text" class="form-control no-resize"
                                name="tags" id="tags" rows="2"></textarea>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="edition-body row">
                <div *ngIf="editableComponent"
                    [ngClass]="{'col-11 pe-0':componentEditionRightPanelMinimize, 'col-6':!componentEditionRightPanelMinimize}">
                    <div>
                        <span class="legend-title">{{'components.component.edition.blocks.steps' |
                            translate}}</span>
                    </div>
                    <div class="bg-draggable pb-1 rounded"
                        title="{{'components.shared.edition.draganddrop' | translate}}">
                        <div [ngClass]="componentTasksCreated.length > 0 ? 'drop-zone' : 'drop-zone-empty'"
                            dragula="COPYABLE" [(dragulaModel)]="componentTasksCreated" id="right">
                            <div *ngFor="let component of componentTasksCreated; let i=index" class="card mb-2">
                                <chutney-component-card [component]="component" (deleteEvent)="removeStep(i)">
                                </chutney-component-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    [ngClass]="{'col-1 ms-0 p-0':componentEditionRightPanelMinimize, 'col-6':!componentEditionRightPanelMinimize}">
                    <button *ngIf="editableComponent" type="button"
                        class="right-panel-minimize-btn btn btn-xs mt-4 btn-default shadow-none border-start rounded-0"
                        [ngClass]="{'float-end':componentEditionRightPanelMinimize, '':!componentEditionRightPanelMinimize}"
                        title="{{(componentEditionRightPanelMinimize ? 'global.actions.show' : 'global.actions.hide') | translate}}"
                        (click)="componentEditionRightPanelMinimize = !componentEditionRightPanelMinimize;">
                        <span class="fa"
                            [ngClass]="{'fa-angle-double-left':componentEditionRightPanelMinimize, 'fa-angle-double-right':!componentEditionRightPanelMinimize}"></span>
                    </button>
                    <div class="right-panel-content mt-4" [ngClass]="{'d-none':componentEditionRightPanelMinimize}">
                        <ng-container *ngIf="!executionResult">
                            <div *ngIf="editableComponent" class="">
                                <chutney-strategy-form [strategy]="editableComponent.strategy"
                                    formControlName="strategy"></chutney-strategy-form>
                                <chutney-parameters-component [parentForm]="componentForm"
                                    [editableComponent]="editableComponent"></chutney-parameters-component>
                                <chutney-child-panel-component [parents]="parents" [show]="showChild">
                                </chutney-child-panel-component>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="executionResult">
                            <chutney-execution-panel-component [executionResult]="executionResult"
                                (closeEvent)="closeExecutionPanel()"></chutney-execution-panel-component>
                        </ng-container>
                    </div>
                </div>
            </div>

        </ng-container>

        <!-- Actions panel edit -->
        <ng-container *ngIf="viewComponent && actionToEdit">
            <chutney-action-edit-component [editComponent]="actionToEdit"
                [rightPanelMinimize]="componentEditionRightPanelMinimize" (createEvent)="saveComponent($event)"
                (deleteEvent)="deleteComponent($event)" (cancelEvent)="cancel()"
                (duplicateEvent)="duplicateAction()">
            </chutney-action-edit-component>
        </ng-container>

        <!-- Actions panel create -->
        <ng-container *ngIf="!viewComponent">
            <div *ngIf="!actionSelected" class="fw-bold text-center">
                {{'components.action.edition.select' | translate}}
            </div>
            <chutney-action-edit-component *ngIf="actionSelected" [editComponent]="actionToEdit"
                [rightPanelMinimize]="componentEditionRightPanelMinimize" (createEvent)="saveComponent($event)"
                (deleteEvent)="deleteComponent($event)" (cancelEvent)="cancel()">
            </chutney-action-edit-component>
        </ng-container>
    </div>
</div>