<div class="row">
    <div class="components-list-container col-3 pl-3 pr-3 m-0 border-right">
        <button type="button" class="btn btn-xs btn-default ml-2"
                [ngClass]="{'selected':viewComponent, 'not-selected':!viewComponent}"
                (click)="viewComponent = true; cancel();">
            <span class="fa fa-cubes"></span> {{'components.menu.components' | translate}}
        </button>
        <button type="button" class="btn btn-xs btn-default"
                [ngClass]="{'selected':!viewComponent, 'not-selected':viewComponent}"
                (click)="viewComponent = false; cancel();">
            <span class="fa fa-clone"></span> {{'components.menu.actions' | translate}}
        </button>

        <div *ngIf="viewComponent" class="component-list">
            <div class="mb-2">
                <input name="search" type="text" class="form-control mb-2"
                       placeholder="{{'components.shared.list.filter.placeholder' | translate}}"
                       [(ngModel)]="componentFilter"/>
                <button *ngIf=" !isSelectAll()" type="button" class="btn btn-xs btn-default small-font"
                        (click)="selectAll()">
                    <span class="fa fa-check"></span> Tout sélectionner
                </button>
                <button *ngIf="isSelectAll()" type="button" class="btn btn-xs btn-default small-font"
                        (click)="unSelectAll()">
                    <span class="fa fa-times"></span> Tout désélectionner
                </button>
                <button class="chutney-tag"
                        [ngClass]="tagData.isNoTagSelected() ? 'chutney-tag-selected' : 'chutney-tag-unselected'"
                        (click)="toggleNoTag()">
                    NO_TAG
                </button>
                <div class="tags-scroll d-flex flex-wrap align-content-start">
                    <div *ngFor="let tag of tagData.all()">
                        <button
                            [ngClass]="tagData.isSelected(tag)? 'chutney-tag chutney-tag-selected' : 'chutney-tag chutney-tag-unselected'"
                            (click)="toggleTagSelect(tag)">
                            {{tag}}
                        </button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="table-scroll-with-tags-filter">
                <table class="table table-striped table-hover">
                    <tbody dragula="COPYABLE" id="left"
                           [dragulaModel]="componentTasks | searchTextPipe: componentFilter:['name']">
                    <tr class="pointer d-flex mr-auto"
                        *ngFor="let component of (componentTasks |  componentSearch : tagData.selected() : tagData.isNoTagSelected() : tagData.isSelectAll() | searchTextPipe  : componentFilter : ['name'])"
                        (click)="editComponentTask(component)"
                        [ngClass]="{'selected-component': editableComponent?.name === component.name || actionToEdit?.name === component.name}">
                        <td class="w-100">
                            <span class="fa" [ngClass]="component.implementation ? 'fa-clone' : 'fa-cubes'"></span>
                            {{component.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="!viewComponent" class="component-list">
            <input name="search" type="text" class="sticky-content form-control mb-2"
                   placeholder="{{'components.action.list.filter.placeholder' | translate}}"
                   [(ngModel)]="taskFilter"/>
            <div class="table-scroll">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr *ngFor="let task of tasks | searchTextPipe: taskFilter:['identifier']" (click)="select(task)"
                        class="pointer"
                        [ngClass]="{'selected-component': task?.identifier === actionSelected?.identifier }">
                        <td> {{task.identifier}} </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="edition col-9" [formGroup]="componentForm">
        <div class="text-center bg-info text-white">
            <strong *ngIf="message">{{ message }}</strong>
        </div>

        <!-- Component panel -->
        <ng-container *ngIf="viewComponent && !actionToEdit">
            <div class="edition-header row mt-0">
                <ng-container *ngIf="!executionResult && !editableComponent">
                    <div class="col text-center">
                        <button type="button"
                                class="btn btn-success"
                                (click)="initNewComponent()"
                                title="{{'components.component.create' | translate}}">
                            <span class="fa fa-plus-circle"></span><br/>
                        </button>
                    </div>
                </ng-container>
                <ng-container *ngIf="editableComponent">
                    <div class="col-7">
                        <div class="row">
                            <div class="btn">
                                <span class="fa fa-cubes"></span>
                                <span class="ml-2 font-weight-bold">{{'components.menu.components' | translate}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1"></div>
                            <textarea formControlName="name" rows="4"
                                      class="col form-control no-resize is-{{componentForm.get('name').valid ? '' : 'in'}}valid"
                                      placeholder="{{'components.shared.edition.fields.intention.placeholder' | translate}}">
                        </textarea>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col text-center">
                                <chutney-toolbar-component (editEvent)="save()"
                                                       (cancelEvent)="cancel()"
                                                       (executeEvent)="execute($event)"
                                                       (childEvent)="seeChild()"
                                                       (deleteEvent)="deleteComponent(editableComponent.id)"
                                                       [editComponent]="editableComponent"
                                                       [parents]="parents">
                                </chutney-toolbar-component>
                            </div>
                        </div>
                        <div class="row">
                            <div class="p-0 align-self-center">
                                <label class="form-control-label font-weight-bold"
                                       for="tags">{{ 'scenarios.edition.form.tags' | translate }}</label>
                            </div>
                            <div class="col">
                                <textarea formControlName="tags" type="text" class="form-control no-resize" name="tags"
                                          id="tags" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="edition-body row">
                <div class="col-7">
                    <ng-container *ngIf="editableComponent">
                        <div class="pl-3 font-weight-bold">
                            <span class="legend-title">{{'components.component.edition.blocks.steps' | translate}}</span>
                        </div>
                        <div class="bg-draggable mt-2 border"
                             title="{{'components.shared.edition.draganddrop' | translate}}">
                            <div class="p-3"
                                 dragula="COPYABLE"
                                 [(dragulaModel)]="componentTasksCreated" id="right">
                                <div *ngFor="let component of componentTasksCreated; let i=index"
                                     formArrayName="componentsParametersValues"
                                     class="card mb-2">
                                    <chutney-card-component
                                        [cardForm]="componentForm.controls.componentsParametersValues.controls[i]"
                                        [component]="component"
                                        [componentIndex]="i"
                                        (deleteEvent)="removeStep(i)">
                                    </chutney-card-component>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="col-5">
                    <ng-container *ngIf="!executionResult">
                        <div *ngIf="editableComponent">
                            <chutney-strategy-form [strategy]="editableComponent.strategy"
                                                    formControlName="strategy"></chutney-strategy-form>
                            <chutney-parameters-component [parentForm]="componentForm"
                                                      [editableComponent]="editableComponent"></chutney-parameters-component>
                            <chutney-child-panel-component [parents]="parents"
                                                       [show]="showChild"></chutney-child-panel-component>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="executionResult">
                        <chutney-execution-panel-component [executionResult]="executionResult"
                                                       (closeEvent)="closeExecutionPanel()"></chutney-execution-panel-component>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <!-- Actions panel edit -->
        <ng-container *ngIf="viewComponent && actionToEdit">
            <chutney-action-edit-component [editComponent]="actionToEdit"
                                       (createEvent)="createAction($event)"
                                       (deleteEvent)="deleteComponent($event)"
                                       (cancelEvent)="cancel()"></chutney-action-edit-component>
        </ng-container>

        <!-- Actions panel create -->
        <ng-container *ngIf="!viewComponent">
            <div *ngIf="!actionSelected"
                 class="font-weight-bold text-center">{{'components.action.edition.select' | translate}}</div>
            <chutney-action-edit-component *ngIf="actionSelected"
                                       [editComponent]="actionToEdit"
                                       (createEvent)="createAction($event)"
                                       (deleteEvent)="deleteComponent($event)"
                                       (cancelEvent)="cancel()"></chutney-action-edit-component>
        </ng-container>
    </div>
</div>
