.step-details {
    border-radius: 4px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);

    &:hover {
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.7);
    }
}

.error {
    color: var(--bs-danger);
    font-weight: bold;
}

.information {
    color: var(--bs-teal);
    font-weight: bold;
}
