.create-campaign-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ".";
    justify-items: start;
    align-items: start;
}


.campaign-title {
    height: 50px;
}

.scenario-title-cell {
    width: 90%;
}

input.search-field {
    border: none;
    //border-bottom: 1px solid $primary;
    width: 100%;
}

span.search-field {
    border: none;
    color: var(--bs-primary);
}

.cursor {
    cursor: pointer;
}


fieldset {
    width: 100%;
}

fieldset legend {
    width: auto;
    font-size: 1rem;
}

.legend-title {
    cursor: default;
    display: inline-block;
    width: 150px;
}

.table th, .table td {
    vertical-align: middle;
}

:host ::ng-deep {

    .env-combo {
        width: 100% !important;
    }
}

:host ::ng-deep {

    .popover {
        max-width: 30vw; /* optional max width */
        width: intrinsic; /* Safari/WebKit uses a non-standard name */
        width: -moz-max-content; /* Firefox/Gecko */
        width: -webkit-max-content; /* Chrome */
        border: 0;
        border-radius: 0.5rem;
    }

    .popover-body {
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}

.jira-link {
    padding-top: 1rem !important;
    cursor: pointer;
}

.jira-link > label,
.jira-link > input {
    cursor: pointer;
}

.jira-link span {
    cursor: pointer;
    color: var(--bs-blue);
}

.error-message{
    color:var(--bs-warning);
    font-size: 0.8em;
}
