<div class="row m-5">
    <div class="col-md-12 pl-0">
        <form [formGroup]="campaignForm" (ngSubmit)="saveCampaign()" autocomplete="off">
            <div class="row">
                <h4 id="myCampaignLabel">
                    {{campaign.id ? ('campaigns.edition.title.update' | translate) : (('campaigns.edition.title.create' | translate))}}
                </h4>
                <div class="w-100" *ngIf="errorMessage">
                    <p class="text-danger">{{ errorMessage}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" [disabled]="submitted && campaignForm.invalid" class="btn btn-success m-2">
                        <span class="fa fa-check"></span>&nbsp;
                        <span>{{ 'global.actions.record' | translate }}</span>
                    </button>
                    <button type="button" class="btn btn-secondary m-2" (click)="clear()">
                        <span class="fa fa-times"></span>&nbsp;
                        <span>{{ 'global.actions.cancel' | translate }}</span>
                    </button>
                </div>
                <div class="col-md-6">
                    {{ 'campaigns.edition.options' | translate }} :
                    <div class="ml-4">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="parallelCheck" formControlName="parallelRun">
                            <label class="form-check-label" for="parallelCheck">{{ 'campaigns.edition.parallelRun' | translate }}</label>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="retryAutoCheck" formControlName="retryAuto">
                            <label class="form-check-label" for="retryAutoCheck">{{ 'campaigns.edition.retryAuto' | translate }}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5" [class.errors-input]="submitted && f.title.errors?.required">
                    <label for="title">{{ 'campaigns.edition.form.title.label' | translate }}</label>
                    <input type="text" id="title" class="form-control" formControlName="title">
                    <div class="error-message" *ngIf="submitted && f.title.errors?.required">
                        {{ 'campaigns.edition.form.title.required' | translate }}
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label for="description">{{ 'campaigns.edition.form.description' | translate }}</label>
                    <input type="text" id="description" class="form-control" formControlName="description">
                </div>

                <div *ngIf="environments" class="form-group col-md-2">
                    <label>environment</label>
                    <chutney-environment-combo [environments]="environments" [defaultValue]="campaign.environment"
                        (selectionEvent)="setSelectedEnvironment($event)">
                    </chutney-environment-combo>
                </div>

                <div class="form-group col-md-2" [class.errors-input]="submitted && f.scheduleTime.errors">
                    <label for="scheduleTime">{{ 'campaigns.edition.form.schedule.label' | translate }}</label>
                    <input type="text" id="scheduleTime" class="form-control" formControlName="scheduleTime">
                    <div class="error-message" *ngIf="submitted && f.scheduleTime.errors">
                        {{ 'campaigns.edition.form.schedule.pattern' | translate }}
                    </div>
                </div>
            </div>
            <div class="form-row" *ngIf="hasParam">
                <fieldset class="mt-4" [ngClass]="collapseParam ? '' : 'border pl-2'">
                    <legend class="pl-3 pr-3 font-weight-bold">
                        <span class="legend-title"
                            (click)="switchCollapseParam()">{{'components.shared.edition.blocks.parameters' | translate}}</span>
                        <button class="btn btn-sm btn-light btn-outline-dark border-0" type="button"
                            (click)="switchCollapseParam()"
                            title="{{(collapseParam ? 'global.actions.show' : 'global.actions.hide') | translate}}">
                            <span class="fa" [ngClass]="collapseParam ? 'fa-eye' : 'fa-eye-slash'"></span>
                        </button>
                    </legend>
                    <ng-container *ngIf="!collapseParam">
                        <div class="row" formArrayName="parameters"
                            *ngFor="let parameter of campaignForm.get('parameters')?.controls; let i = index;">
                            <ng-container [formGroupName]="i">
                                <div class="col-2"></div>
                                <input type="text" class="col-2 form-control mr-2" formControlName="key"
                                    placeholder="key" readonly />
                                <textarea class="col-6 form-control mr-2" formControlName="value" rows="1"
                                    placeholder="value"></textarea>
                            </ng-container>
                        </div>
                    </ng-container>
                </fieldset>
            </div>
            <div class="row">
                <!-- Left side -->
                <div class="col-md-6">
                    <div class="row" class="campaign-title mt-2">
                        <h4>{{ 'campaigns.edition.scenarios.title' | translate }}</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tbody dragula="DRAGGABLE" [(dragulaModel)]="scenariosToAdd">
                                <tr *ngFor="let scenario of scenariosToAdd" class="cursor">
                                    <td>
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="removeScenario(scenario)">
                                            <span class="fa fa-arrow-circle-right"></span>
                                        </button>
                                    </td>
                                    <td class="text-nowrap">{{scenario?.id}}</td>
                                    <td class="scenario-title-cell">{{scenario?.title}}</td>
                                    <td>
                                        <button type="button" class="btn btn-link mr-0"
                                            ngbPopover="{{scenario.description}}" placement="left"
                                            triggers="mouseenter:mouseleave" container="body">
                                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Right side -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col" class="campaign-title">
                            <h4>{{ 'campaigns.edition.scenarios.pick.title' | translate }}</h4>
                        </div>
                        <div class="col">
                            <input name="search" type="text" class="form-control search-field mb-2" id="scenarioIds"
                                formControlName="scenarioIds" placeholder="Filtrer scénarios"
                                [(ngModel)]="scenariosFilter" />

                            <angular2-multiselect [data]="itemList"
                                [settings]="settings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                formControlName="tags">
                            </angular2-multiselect>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr
                                    *ngFor="let scenario of scenarios |  scenarioCampaignSearch : selectedTags | searchTextPipe  : scenariosFilter : ['title', 'id'] | withoutScenario:scenariosToAdd">
                                    <td class="w-3">
                                        <button type="button" class="btn btn-outline-success btn-sm"
                                            (click)="addScenario(scenario)">
                                            <span class="fa fa-arrow-circle-left"></span>
                                        </button>
                                    </td>
                                    <td class="text-nowrap w-10">{{scenario?.id}}</td>
                                    <td class="scenario-title-cell w-70">{{scenario?.title}}</td>
                                    <td class="w-15">
                                        <span *ngFor="let tag of scenario.tags">
                                            <span class="chutney-tag chutney-tag-selected">{{tag}}</span>
                                        </span>
                                    </td>
                                    <td class="w-2">
                                        <button type="button" class="btn btn-link mr-0"
                                            ngbPopover="{{scenario.description}}" placement="left"
                                            triggers="mouseenter:mouseleave" container="body">
                                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
