
<div class="campaign-container min-vh-100">
    <div class="campaign-1 w-100">
        <div class="input-group mb-1">
            <input type="text" class="form-control" placeholder="{{ 'campaigns.search.placeholder' | translate }}" [ngModel]="campaignFilter" (ngModelChange)="campaignFilterChange($event)">
        </div>
        <div class="w-auto" style="min-width: 170px;">
            <button *ngIf=" !isSelectAll()" type="button" class="btn btn-sm btn-outline-primary m-2" (click)="selectAll()">
                <span class="fa fa-check"></span> {{ 'campaigns.search.selectAllText' | translate }}
            </button>
            <button *ngIf="isSelectAll()" type="button" class="btn btn-sm btn-outline-primary m-2" (click)="deselectAll()">
                <span class="fa fa-times"></span> {{ 'campaigns.search.deselectAllText' | translate }}
            </button>
        </div>
        <div class="d-flex flex-wrap w-auto">
            <div class="align-self-center">
                <button class="chutney-tag"
                        [ngClass]="tagFilter.isNoTagSelected() ? 'chutney-tag-selected' : 'chutney-tag-unselected'"
                        (click)="toggleNoTagFilter()">
                    NO_TAG
                </button>
            </div>
            <div class="border-end border-dark ms-2 me-2"></div>
            <div *ngFor="let tag of tagFilter.all()" class="align-self-center">
                <button
                    [ngClass]="tagFilter.isSelected(tag)? 'chutney-tag chutney-tag-selected' : 'chutney-tag chutney-tag-unselected'"
                    (click)="toggleTagFilter(tag)">
                    {{tag}}
                </button>
            </div>
        </div>
    </div>

    <div class="campaign-2 w-100">
        <button *hasAuthorization="[Authorization.CAMPAIGN_WRITE]" type="button" class="btn btn-primary" (click)="createCampaign()">
            <span class="fa fa-plus" aria-hidden="true"></span> {{ 'campaigns.list.actions.create' | translate }}
        </button>
        <button *hasAuthorization="[Authorization.CAMPAIGN_EXECUTE]" type="button" class="btn btn-primary ms-2" [routerLink]="['scheduling']">
            <span class="fa fa-plus" aria-hidden="true"></span> {{ 'campaigns.scheduling.schedule' | translate }}
        </button>
    </div>

    <div class="campaign-3 w-100">
        <div class="table-responsive" *ngIf="viewedCampaigns.length > 0">
            <table class="table table-sm table-striped table-hover">
                <tbody>
                <tr *ngFor="let campaign of (viewedCampaigns | searchTextPipe : campaignFilter:campaignFilterAttributes)">
                    <td class="small_text w93 align-middle">
                        <a [routerLink]="['/campaign',campaign.id,'execution']"
                           title="{{ 'campaigns.list.item.title.link.title' | translate }} {{campaign.title}}">{{campaign.title}}</a>
                    </td>
                    <td class="ps-0 w1">
                        <a *ngIf="jiraMap.has(campaign.id.toString())" role="button" class="btn btn-sm btn-link me-0"
                           target="_blank" href="{{getJiraLink(campaign.id.toString())}}"
                           ngbPopover="{{jiraMap.get(campaign.id.toString())}}" placement="left"
                           (click)="$event.stopPropagation()"
                           triggers="mouseenter:mouseleave">
                            <span class="fab fa-jira" aria-hidden="true">
                            </span>
                        </a>
                    </td>
                    <td class="ps-0 w1">
                        <ng-container *ngIf="campaign.tags.length <= 3">
                            <span *ngFor="let tag of campaign.tags" class="badge bg-primary">{{tag}}</span>
                        </ng-container>
                        <ng-container *ngIf="campaign.tags.length > 3">
                            <span *ngFor="let tag of campaign.tags | slice:0:2" class="badge bg-primary">{{tag}}</span>
                            <button type="button" class="badge bg-primary"
                                    ngbPopover="{{campaign.tags}}" placement="left"
                                    triggers="mouseenter:mouseleave" container="body">
                                ...
                            </button>
                        </ng-container>
                    </td>
                    <td class="ps-0 w1">
                        <button type="button" class="btn btn-link me-0"
                                ngbPopover="{{campaign.description}}" placement="left"
                                triggers="mouseenter:mouseleave">
                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td class="ps-0 w2" *hasAuthorization="[Authorization.CAMPAIGN_WRITE]">
                        <button type="button" class="btn btn-light" (click)="editCampaign(campaign)">
                            <span class="fa fa-pencil-alt"></span>
                        </button>
                    </td>
                    <td class="ps-0 w2" *hasAuthorization="[Authorization.CAMPAIGN_WRITE]">
                        <button type="button" class="btn btn-outline-danger"
                                (click)="deleteCampaign(campaign.id, campaign.title)">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="campaigns.length == 0" class="alert alert-dark col-md-12 not-found text-muted">
            <span>{{ 'campaigns.list.empty' | translate }}</span>
        </div>
    </div>
    <div class="campaign-4 w-100">
        <h2 *ngIf="scheduledCampaigns.length > 0">{{ 'campaigns.list.executions.next' | translate }}</h2>
        <div class="table-responsive" *ngIf="scheduledCampaigns.length > 0">
            <table class="table table-sm table-striped">
                <tbody>
                <tr *ngFor="let scheduledCampaign of scheduledCampaigns">
                    <td class="w80">#{{scheduledCampaign.campaignId}}
                        <span data-toggle="tooltip" *ngIf="isFrequencyCampaign(scheduledCampaign)"
                              title="{{scheduledCampaign.frequency.toLowerCase()}}"
                              class="fa fa-spinner fa-spin running"
                              [ngStyle]="{
                                'color':scheduledCampaign.frequency=== 'Daily'? 'green':
                                scheduledCampaign.frequency==='Weekly'? 'orange':
                                scheduledCampaign.frequency==='Monthly'? 'red': 'blue'
                                }"
                              aria-hidden="true"></span>
                        - {{scheduledCampaign.campaignTitle}}
                    </td>
                    <td>{{scheduledCampaign.schedulingDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h2>{{ 'campaigns.list.executions.last' | translate }}</h2>
        <div class="table-responsive" *ngIf="campaigns.length > 0">
            <table class="table table-sm table-striped">
                <tbody>
                <tr *ngFor="let report of lastCampaignReports" class="small_text">
                    <td class="w25">{{ report.startDate | amDateFormat: 'DD MMM. YYYY HH:mm' }}</td>
                    <td class="ps-0 w60">
                        <a
                           [routerLink]="['/campaign', campaignIdFromName(report.campaignName), 'execution', report.executionId]"
                        >
                            {{ report.campaignName }}
                        </a>
                    </td>
                    <td class="ps-0 w5">
                        <chutney-execution-badge [status]="report.status" [spin]="true"></chutney-execution-badge>
                    </td>
                    <td class="text-center ps-0 w10">{{ report.duration | duration:'short'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
