<div class="ml-5 mt-4">
    <h2>Campagnes

        <button type="button" class="btn btn-sm btn-outline-secondary ml-2" (click)="createCampaign()">
            <span class="fa fa-plus" aria-hidden="true"></span> {{ 'campaigns.list.actions.create' | translate }}
        </button>

        <button type="button" class="btn btn-sm btn-outline-secondary ml-2" [routerLink]="['scheduling']">
            <span class="fa fa-plus" aria-hidden="true"></span> {{ 'campaigns.scheduling.schedule' | translate }}
        </button>

    </h2>
</div>
<div class="row ml-4">
    <div class="col-md-6 pr-2">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="{{ 'campaigns.search.placeholder' | translate }}"
                   [(ngModel)]="campaignFilter">
        </div>
        <div class="row ml-2">
            <div style="min-width: 170px;">
                <button *ngIf=" !isSelectAll()" type="button" class="btn btn-xs btn-default m-2" (click)="selectAll()">
                    <span class="fa fa-check"></span> {{ 'campaigns.search.selectAllText' | translate }}
                </button>
                <button *ngIf="isSelectAll()" type="button" class="btn btn-xs btn-default m-2" (click)="deselectAll()">
                    <span class="fa fa-times"></span> {{ 'campaigns.search.deselectAllText' | translate }}
                </button>
            </div>
            <div class="d-flex flex-wrap">
                <div class="border-right border-dark ml-2 mr-2"></div>
                <div class="align-self-center">
                    <button class="chutney-tag"
                            [ngClass]="tagFilter.isNoTagSelected() ? 'chutney-tag-selected' : 'chutney-tag-unselected'"
                            (click)="toggleNoTagFilter()">
                        NO_TAG
                    </button>
                </div>
                <div class="border-right border-dark ml-2 mr-2"></div>
                <div *ngFor="let tag of tagFilter.all()" class="align-self-center">
                    <button
                        [ngClass]="tagFilter.isSelected(tag)? 'chutney-tag chutney-tag-selected' : 'chutney-tag chutney-tag-unselected'"
                        (click)="toggleTagFilter(tag)">
                        {{tag}}
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive" *ngIf="viewedCampaigns.length > 0">
            <table class="table table-sm table-striped table-hover">
                <tbody>
                <tr *ngFor="let campaign of (viewedCampaigns | searchTextPipe : campaignFilter:['title','description'])">
                    <td class="small_text w93">
                        <a [routerLink]="['/campaign',campaign.id,'execution']"
                           title="{{ 'campaigns.list.item.title.link.title' | translate }} {{campaign.title}}">{{campaign.title}}</a>
                    </td>
                    <td class="pl-0 w1">
                        <a *ngIf="jiraMap.has(campaign.id.toString())" role="button" class="btn btn-sm btn-link mr-0"
                           target="_blank" href="{{getJiraLink(campaign.id.toString())}}"
                           ngbPopover="{{jiraMap.get(campaign.id.toString())}}" placement="left"
                           (click)="$event.stopPropagation()"
                           triggers="mouseenter:mouseleave">
                            <span class="fab fa-jira" aria-hidden="true">
                            </span>
                        </a>
                    </td>
                    <td class="pl-0 w1">
                        <span *ngIf="campaign.tags.length <= 3">
                            <span *ngFor="let tag of campaign.tags"
                                  class="chutney-tag chutney-tag-selected">{{tag}}</span>
                        </span>
                        <span *ngIf="campaign.tags.length > 3">
                            <span *ngFor="let tag of campaign.tags | slice:0:2"
                                  class="chutney-tag chutney-tag-selected">{{tag}}</span>
                            <button type="button" class="chutney-tag chutney-tag-selected"
                                    ngbPopover="{{campaign.tags}}" placement="left"
                                    triggers="mouseenter:mouseleave" container="body">
                                ...
                            </button>
                        </span>
                    </td>
                    <td class="pl-0 w1">
                        <button type="button" class="btn btn-link mr-0"
                                ngbPopover="{{campaign.description}}" placement="left"
                                triggers="mouseenter:mouseleave">
                            <span class="fa fa-info-circle" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td class="pl-0 w2">
                        <button type="button" class="btn btn-outline-danger"
                                (click)="deleteCampaign(campaign.id, campaign.title)">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                    <td class="pl-0 w2">
                        <button type="button" class="btn btn-light" (click)="editCampaign(campaign)">
                            <span class="fa fa-pencil-alt"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="campaigns.length == 0" class="alert alert-dark col-md-12 not-found text-muted">
            <span>{{ 'campaigns.list.empty' | translate }}</span>
        </div>
    </div>
    <div class="col-md-6 pl-2">
        <h2 *ngIf="scheduledCampaigns.length > 0">Prochaines executions</h2>
        <div class="table-responsive" *ngIf="scheduledCampaigns.length > 0">
            <table class="table table-sm table-striped">
                <tr *ngFor="let scheduledCampaign of scheduledCampaigns">
                    <td>#{{scheduledCampaign.campaignId}}
                        <span data-toggle="tooltip" *ngIf="isFrequencyCampaign(scheduledCampaign)"
                              title="{{scheduledCampaign.frequency.toLowerCase()}}"
                              class="fa fa-spinner fa-spin running"
                              [ngStyle]="{
                              'color':scheduledCampaign.frequency=== 'Daily'? 'green':
                              scheduledCampaign.frequency==='Weekly'? 'orange':
                              scheduledCampaign.frequency==='Monthly'? 'red': 'blue'
                              }"
                              aria-hidden="true"></span>
                        - {{scheduledCampaign.campaignTitle}}</td>
                    <td>{{scheduledCampaign.schedulingDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                </tr>
            </table>
        </div>
        <h2>Dernières executions</h2>
        <div class="table-responsive" *ngIf="campaigns.length > 0">
            <table class="table table-sm table-striped">
                <tbody>
                <tr *ngFor="let report of lastCampaignReports" class="small_text">
                    <td class="w25">{{ report.startDate | amDateFormat: 'DD MMM. YYYY HH:mm' }}</td>
                    <td class="pl-0 w60">{{ report.campaignName }}</td>
                    <td class="pl-0 w5">
                        <chutney-execution-badge [status]="report.status" [spin]="true"></chutney-execution-badge>
                    </td>
                    <td class="text-center pl-0 w10">{{ report.duration | duration:'short'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
