<div class="scheduling-campaign-container  min-vh-100 ">
    <div class="w-100">
        <div class ="d-flex flex-md-row justify-content-between">
            <div>
                <h4>{{ 'campaigns.scheduling.title' | translate }}</h4>
            </div>
            <div>
                <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/campaign']">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span> {{ 'campaigns.scheduling.back' | translate }}
                </button>
            </div>
        </div>
        <div class="w-100" *ngIf="errorMessage">
            <p class="text-danger">{{ errorMessage}}</p>
        </div>

        <form [formGroup]="form" autocomplete="off" class="w-100">
            <div class="row row-cols-lg-auto g-3 my-1">
                <div class="col-12" *ngIf="campaigns.length > 0">
                    <label for="campaign" class="form-label">{{ 'campaigns.scheduling.campaign' | translate }}</label>
                    <select id="campaign" class="form-select" formControlName="campaign">
                        <option *ngFor="let c of campaigns" [ngValue]="c">{{c.title}}</option>
                    </select>

                    <div class="error-message" *ngIf="submitted && f.campaign.errors?.required">
                        {{ 'campaigns.scheduling.required.campaign' | translate }}
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-auto g-3  my-1">
                <div class="col-12">
                    <label for="calendar" class="form-label">{{ 'campaigns.scheduling.schedulingDate' | translate }}</label>
                    <div class="input-group">
                        <input id="calendar" class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
                        <button class="btn btn-success bi bi-calendar-event" (click)="d.toggle()"
                                type="button"></button>
                    </div>

                    <div class="error-message" *ngIf="submitted && f['date'].errors">
                        {{ 'campaigns.scheduling.required.date' | translate }}
                    </div>
                </div>
            </div>
            <div class="row row-cols-lg-auto g-3  my-1">
                <div class="col-12">
                    <label for="time" class="form-label">{{ 'campaigns.scheduling.required.time' | translate }}</label>
                    <ngb-timepicker id="time" formControlName="time"></ngb-timepicker>

                    <div class="error-message" *ngIf="submitted && f['time'].errors">
                        {{ 'campaigns.scheduling.required.time' | translate }}
                    </div>
                </div>
            </div>

            <div class="row row-cols-lg-auto g-3 my-1">
                <div class="col-12">
                    <label for="frequency" class="form-label">{{ 'campaigns.scheduling.frequency' | translate }}</label>
                    <select id="frequency" class="form-select col-8" formControlName="frequency">
                        <option *ngFor="let freq of frequencies" [ngValue]="freq">{{freq}}</option>
                    </select>
                </div>
            </div>

            <button type="submit" [disabled]="submitted && form.invalid" class="btn btn-success  my-2" (click)="create()">
                <span class="fa fa-plus"></span>&nbsp;
                <span>{{ 'global.actions.add' | translate }}</span>
            </button>
        </form>
    </div>
    <div class="row w-100">
        <ng-container *ngIf="scheduledCampaigns.length == 0">
            {{ 'campaigns.scheduling.nothing' | translate }}
        </ng-container>
        <ng-container *ngIf="scheduledCampaigns.length > 0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="w80"> {{ 'campaigns.scheduling.campaign' | translate }}</th>
                        <th class="w15">{{ 'campaigns.scheduling.schedulingDate' | translate }}</th>
                        <th class="w10">{{ 'campaigns.scheduling.frequency' | translate }}</th>
                        <th class="w5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let scheduledCampaign of scheduledCampaigns">
                        <td>#{{scheduledCampaign.campaignId}} - {{scheduledCampaign.campaignTitle}}</td>

                        <td>{{scheduledCampaign.schedulingDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                        <td><span
                            *ngIf="scheduledCampaign.frequency !==undefined">{{scheduledCampaign.frequency}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm float-end"
                                    (click)="delete(scheduledCampaign.id)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
</div>