<div class="scheduling-campaign-container  min-vh-100 ">
    <div class="w-100">
        <div class ="d-flex flex-md-row justify-content-between">
            <div>
                <h4>{{ 'campaigns.scheduling.title' | translate }}</h4>
            </div>
            <div>
                <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/campaign']">
                    <span class="fa fa-arrow-left" aria-hidden="true"></span> {{ 'campaigns.scheduling.back' | translate }}
                </button>
            </div>
        </div>
        <div class="w-100" *ngIf="errorMessage">
            <p class="text-danger">{{ errorMessage}}</p>
        </div>

        <form [formGroup]="form" autocomplete="off" class="w-100">
            <div class="row row-cols-lg-auto my-3">
                <div class="col">
                    <label for="calendar" class="form-label">{{ 'campaigns.scheduling.schedulingDate' | translate }}</label>
                    <div class="input-group">
                        <input id="calendar" class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" formControlName="date" ngbDatepicker #d="ngbDatepicker">
                        <button class="btn btn-success bi bi-calendar-event" (click)="d.toggle()"
                                type="button"></button>
                    </div>

                    <div class="error-message" *ngIf="submitted && f['date'].errors">
                        {{ 'campaigns.scheduling.required.date' | translate }}
                    </div>
                </div>
                <div class="col">
                    <label for="time" class="form-label">{{ 'campaigns.scheduling.required.time' | translate }}</label>
                    <ngb-timepicker id="time" formControlName="time"></ngb-timepicker>
                    <div class="error-message" *ngIf="submitted && f['time'].errors">
                        {{ 'campaigns.scheduling.required.time' | translate }}
                    </div>
                </div>
                <div class="col">
                    <label for="frequency" class="form-label">{{ 'campaigns.scheduling.frequency' | translate }}</label>
                    <select id="frequency" class="form-select col-8" formControlName="frequency">
                        <option *ngFor="let freq of frequencies" [ngValue]="freq">{{freq}}</option>
                    </select>
                </div>
            </div>
            <div class="row row-cols-lg-auto my-3" *ngIf="campaigns.length > 0">
                <div class="col">
                    <button type="button" class="btn btn-outline-primary px-1" (click)="toggleDropDown(campaignsDropdown,$event)">
                        <span class="fa fa-angle-down"></span><span class="ms-1">{{ 'campaigns.scheduling.campaign' | translate }}</span></button>
                    <angular2-multiselect #campaignsDropdown 
                            [data]="campaigns"
                            formControlName="selectedCampaigns"
                            [settings]="settings">
                    </angular2-multiselect>
                    <div class="error-message" *ngIf="submitted && f.selectedCampaigns.errors?.required">
                        {{ 'campaigns.scheduling.required.campaign' | translate }}
                    </div>
                </div>
                <div class="col">
                    <ul class="list-group list-group-horizontal" [dragula]="'selectedCampaigns'" [(dragulaModel)]="form.get('selectedCampaigns').value">
                        <li *ngFor="let campaign of form.get('selectedCampaigns').value; let i = index" [attr.data-id]="i" class="chutney-tag chutney-tag-selected lh-base fs-6">
                            <span>{{ campaign.title }}</span>
                            <i class="ms-2 fa-xs fa-solid fa-xmark" (click)="unselectCampaign(campaign)"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <button type="submit" [disabled]="submitted && form.invalid" class="btn btn-success  my-2" (click)="create()">
                <span class="fa fa-floppy-disk"></span>&nbsp;
                <span>{{ 'global.actions.record' | translate }}</span>
            </button>
        </form>
    </div>
    <div class="row w-100">
        <ng-container *ngIf="scheduledCampaigns.length == 0">
            {{ 'campaigns.scheduling.nothing' | translate }}
        </ng-container>
        <ng-container *ngIf="scheduledCampaigns.length > 0">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="w5">{{ 'campaigns.scheduling.scheduling' | translate }}</th>
                        <th class="w65"> {{ 'campaigns.scheduling.campaign' | translate }}</th>
                        <th class="w15">{{ 'campaigns.scheduling.schedulingDate' | translate }}</th>
                        <th class="w10">{{ 'campaigns.scheduling.frequency' | translate }}</th>
                        <th class="w5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let scheduledCampaign of scheduledCampaigns">
                        <td>#{{scheduledCampaign.id}}</td>
                        <td>
                            <div *ngFor="let title of scheduledCampaign.campaignsTitle; let i = index" >
                                <span>{{ (i+1) }} - {{ title }}</span>
                            </div>
                        </td>

                        <td>{{scheduledCampaign.schedulingDate | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</td>
                        <td><span
                            *ngIf="scheduledCampaign.frequency !==undefined">{{scheduledCampaign.frequency}}</span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger btn-sm float-end"
                                    (click)="delete(scheduledCampaign.id)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </td>
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </ng-container>
    </div>
</div>