.create-scenario-wrapper {
    float: right;
}

.create-scenario {
    border: none;
    font-size: 11px;
    text-align: center;
    width: 50px;

    button {
        color: var(--bs-white);
        text-align: center;

        &:hover {
            color: var(--bs-white);
        }

        &:focus {
            box-shadow: none;
        }
    }
}

.header-scenario {
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .5rem .6rem;
    font-size: .75rem;
    line-height: .5;
    border-radius: .2rem;
    margin: 0;
}

.label-success {
    background-color: var(--bs-primary);
}


.table-sm {
    font-size: 14px;
}

.filter {
    cursor: pointer;
    text-align: center;
}

:host ::ng-deep {

    .popover {
        max-width: 30vw; /* optional max width */
        width: intrinsic; /* Safari/WebKit uses a non-standard name */
        width: -moz-max-content; /* Firefox/Gecko */
        width: -webkit-max-content; /* Chrome */
        border: 0;
        border-radius: 0.5rem;

        .popover-arrow {
            &::after {
                border-left-color: var(--bs-primary);
            }
        }
    }

    .popover-body {
        background-color: var(--bs-primary);
        color: var(--bs-white);
        border-radius: 0.5rem;
    }
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.width-button-table {
    width: 50px;
}
