<div *hasAuthorization="[Authorization.SCENARIO_WRITE]"
     class="create-scenario-wrapper"
>
    <div class="create-scenario bg-primary">
        <button type="button" class="btn btn-xs" title="{{ 'scenarios.search.create.form' | translate }}"
                (click)="createNewScenario(false)">
            <span class="fa fa-pencil-alt fa-2x"></span>
        </button>
        <button type="button" class="btn btn-xs" title="{{ 'scenarios.search.create.component' | translate }}"
                (click)="createNewScenario(true)">
            <span class="fa fa-cubes fa-2x"></span>
        </button>
    </div>
</div>
<div class="header-scenario">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <chutney-forms-search-field [id]="'scenario-search'"
                                        [placeholder]="'scenarios.search.placeholder' | translate"
                                        [searchInput]="textFilter"
                                        (searchInputEvent)="updateTextFilter($event)"></chutney-forms-search-field>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-primary"
                    (click)="fullTextSearch = !fullTextSearch">
            <span  class="fa" [ngClass]="{'fa-plus' : !fullTextSearch,
                              'fa-minus' : fullTextSearch}"></span>
            </button>
        </div>
    </div>
    <div  *ngIf="fullTextSearch" class="row my-2">
        <div class="col-2"></div>
        <div class="col-4">
            <chutney-forms-search-field [id]="'scenario-search-fulltext'"
                                        [placeholder]="'scenarios.search.placeholder-fulltext' | translate"
                                        [searchInput]="fullTextFilter"
                                        (searchInputEvent)="updateFullTextFilter($event)"></chutney-forms-search-field>
        </div>
    </div>
    <div class="row my-2">

        <div class="col-2">
            <button *ngFor="let scenarioType of SCENARIO_TYPES; let i=index"
                  class="btn align-self-center"
                  [ngClass]="{'btn-primary' : scenarioTypeFilter.isSelected(scenarioType),
                              'me-2': i < SCENARIO_TYPES.length - 1
                              }"
                  (click)="toggleScenarioTypeFilter(scenarioType)">
                <i class="fa " [ngClass]="scenarioType === SCENARIO_TYPES[0] ? 'fa-pencil-alt' : 'fa-cubes'"></i>
            </button>
        </div>

        <div class="col-4">
            <angular2-multiselect [data]="tags"
                                  [(ngModel)]="selectedTags"
                                  [settings]="settings"
                                  (onSelect)="onItemSelect()"
                                  (onDeSelect)="OnItemDeSelect()"
                                  (onDeSelectAll)="OnItemDeSelectAll()"
            >
            </angular2-multiselect>
        </div>
    </div>
</div>

<div class="row">
    <span class="ms-3">{{viewedScenarios.length}} / {{scenarios.length}}</span>
    <div class="table-responsive mb-3 mx-3">
        <table class="table table-sm table-striped table-hover">
            <thead>
            <tr>
                <th class="filter w3" scope="col" (click)="sortBy('id')">ID
                    <span *ngIf="orderBy == 'id' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'id' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th scope="col" class="w1">&nbsp;</th>
                <th class="filter w3" scope="col" (click)="sortBy('status')">{{ 'scenarios.list.header.status'  | translate  }}
                    <span *ngIf="orderBy == 'status' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'status' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th class="filter w10" scope="col" (click)="sortBy('lastExecution')">{{ 'scenarios.list.header.execLast'  | translate  }}
                    <span *ngIf="orderBy == 'lastExecution' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'lastExecution' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th class="filter w5" scope="col" (click)="sortBy('executionCount')">{{ 'scenarios.list.header.execCount'  | translate  }}
                    <span *ngIf="orderBy == 'executionCount' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'executionCount' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th class="filter w40" scope="col" (click)="sortBy('title')">{{ 'scenarios.list.header.title'  | translate  }}
                    <span *ngIf="orderBy == 'title' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'title' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th scope="col" class="w1">&nbsp;</th>
                <th scope="col" class="w1">&nbsp;</th>
                <th class="filter w12" scope="col" (click)="sortBy('tags')">{{ 'scenarios.list.header.tags'  | translate  }}
                    <span *ngIf="orderBy == 'tags' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'tags' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th class="filter w10" scope="col" (click)="sortBy('creationDate')">{{ 'scenarios.list.header.creation'  | translate  }}
                    <span *ngIf="orderBy == 'creationDate' && reverseOrder" class="fa fa-caret-down"></span>
                    <span *ngIf="orderBy == 'creationDate' && !reverseOrder" class="fa fa-caret-up"></span>
                </th>
                <th class="w12" scope="col">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let scenario of viewedScenarios" class="align-baseline">

                <td class="text-center text-nowrap">
                    <span>{{scenario.id}}</span>
                </td>

                <td class="text-center">
                    <span class="fa" [ngClass]="scenario.isComposed ? 'fa-cubes' : 'fa-pencil-alt'"></span>
                </td>

                <td scope="row" class="text-center">
                    <chutney-execution-badge [status]="scenario.status"></chutney-execution-badge>
                </td>

                <td scope="row" class="text-center">
                    {{ scenario.lastExecution != null ? (scenario.lastExecution | amLocale:'fr' | amTimeAgo) : "" }}
                </td>

                <td scope="row" class="text-center">{{scenario.executionCount}}</td>

                <td [routerLink]="['/scenario', scenario.id, 'execution', 'last']" (click)="$event.stopPropagation()" class="scenario-title pointer">{{scenario.title}}</td>

                <td>
                    <a *ngIf="jiraMap.has(scenario.id)" role="button" class="btn btn-sm btn-link me-0"
                        target="_blank" href="{{getJiraLink(scenario.id)}}"
                        ngbPopover="{{jiraMap.get(scenario.id)}}" placement="left" (click)="$event.stopPropagation()"
                        triggers="mouseenter:mouseleave">
                        <span class="fab fa-jira" aria-hidden="true">
                        </span>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-link me-0"
                            ngbPopover="{{scenario.description}}" placement="left"
                            triggers="mouseenter:mouseleave">
                        <span class="fa fa-info-circle" aria-hidden="true"></span>
                    </button>
                </td>

                <td class="text-center">
                    <span *ngIf="scenario.tags.length <= 3">
                        <span *ngFor="let tag of scenario.tags"
                              class="chutney-tag chutney-tag-selected">{{tag}}</span>
                    </span>
                    <span *ngIf="scenario.tags.length > 3">
                        <span *ngFor="let tag of scenario.tags | slice:0:2"
                              class="chutney-tag chutney-tag-selected">{{tag}}</span>
                        <button type="button" class="chutney-tag chutney-tag-selected"
                                ngbPopover="{{scenario.tags}}" placement="left"
                                triggers="mouseenter:mouseleave">
                            ...
                        </button>
                    </span>
                </td>
                <td scope="row" class="text-center">
                    {{ scenario.creationDate | amLocale:'fr' | amTimeAgo }}
                </td>
                <td >
                    <button type="button" class="btn bnt-xs" [routerLink]="['/scenario', scenario.id, 'execution', 'last']" (click)="$event.stopPropagation()" >
                        <span  class="fa fa-eye"></span>
                    </button>
                    <button type="button" class="btn bnt-xs"  routerLink="{{isComposed(scenario.id) ? '/scenario/' + scenario.id + '/component-edition' : '/scenario/' + scenario.id + '/raw-edition'}}" (click)="$event.stopPropagation()">
                        <span  class="fa fa-edit"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
