@import 'colors';

pre {
    font-size: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.example-steps {
    clear: both;

    &:hover {
        //border-left-color: $vert1;
        background-color: $vert3;
        filter: saturate(80%);
    }

    .title {
        @extend .noselect;

        width: 32px;
        padding: 10px 0;
        background-color: $grisfonce2;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 0 5px 5px 5px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        text-align: right;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        line-height: 32px;
    }

    .gwt-section-root {
        margin-left: 0 !important;
        padding-right: 13px;
        max-width: calc(100vw - 120px);
    }

    .gwt-section {
        list-style-type: none;
        margin-left: 30px;
        flex-grow: 1;
        align-self: center;

        .gwt-section-body {
            width: 100%;
            min-height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gwt-section-body-pane {
                .step-description {
                    width: 100%;
                    padding-right: 2px !important;

                    .step-desc-preview {
                        font-family: 'Montserrat';
                        padding-left: 10px;

                        &:empty:before {
                            content: attr(data-text);
                            color: $grisclair1;
                        }

                        .step-param-highlight {
                            font-weight: bold;
                            color: $blanc;
                            background-color: $positive;
                            letter-spacing: 1px;
                            padding: 0 10px;
                            border-radius: 5px;
                        }

                        .step-param-highlight-value {
                            font-weight: bold;
                            color: $blanc;
                            background-color: $vert1;
                            letter-spacing: 1px;
                            padding: 0 10px;
                            border-radius: 5px;
                        }

                        .step-param-highlight-no-value {
                            font-weight: bold;
                            color: $blanc;
                            background-color: $labelko;
                            letter-spacing: 1px;
                            padding: 0 10px;
                            border-radius: 5px;
                        }
                    }

                    textarea {
                        resize: none;
                        border: none;
                        padding-bottom: 0;
                        padding-top: 0;
                        background: none;
                        height: auto;
                        min-height: 0;
                    }
                }

                .step-description-alone {
                    @extend .step-description;

                    padding-right: 0 !important;
                }

                .gwt-section-body-elem {
                    display: table-cell;
                    vertical-align: middle;
                    padding-right: 2px;
                }

                .gwt-section-body-last-elem {
                    display: table-cell;
                    width: 1px;
                }

                .step-strategy {
                    font-size: 11px;
                    font-style: italic;
                    color: $grisfonce2;
                    padding-left: 5px;
                }
            }
        }

        .gwt-section-body-child {
            @extend .gwt-section-body;

            width: 100%;
        }
    }
}

.button-with-effect {
    cursor: pointer;

    figure {
        width: inherit;
        height: inherit;
        overflow: hidden;
    }

    img {
        width: inherit;
        height: inherit;
    }
}

.example-steps-type-root {
    margin-bottom: 5px;
    border-left: none;
    display: flex;
}

.example-steps-type-1 {
    background-color: $vert4;
}

.example-steps-type-root-1 {
    @extend .example-steps-type-root;
    @extend .example-steps-type-1;
}

.example-steps-type-2 {
    background-color: $blanc;
}

.example-steps-type-root-2 {
    @extend .example-steps-type-root;
    @extend .example-steps-type-2;
    border: $vert1 1px solid;
}

.step-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
}

.show-code-btn {
    width: 129px;
    border-radius: 18px;
    background-image: url('../../../../assets/icons/btn/show-code.png');
}

.show-code-btn:hover, .show-code-btn:focus {
    background-image: url('../../../../assets/icons/btn/show-code_hover.png');
    outline: none;
}

.show-code-btn:active {
    background-image: url('../../../../assets/icons/btn/show-code_active.png');
}

.create-code-btn {
    width: 129px;
    border-radius: 18px;
    background-image: url('../../../../assets/icons/btn/create-code.png');
}

.create-code-btn:hover, .create-code-btn:focus {
    background-image: url('../../../../assets/icons/btn/create-code_hover.png');
    outline: none;
}

.create-code-btn:active {
    background-image: url('../../../../assets/icons/btn/create-code_active.png');
}

.add-brother-btn {
    background-image: url('../../../../assets/icons/btn/add-brother.png');
}

.add-brother-btn:hover, .add-brother-btn:focus {
    background-image: url('../../../../assets/icons/btn/add-brother_hover.png');
    outline: none;
}

.add-child-btn {
    background-image: url('../../../../assets/icons/btn/add-child.png');
}

.add-child-btn:hover, .add-child-btn:focus {
    background-image: url('../../../../assets/icons/btn/add-child_hover.png');
    outline: none;
}

.delete-btn {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url('../../../../assets/icons/btn/trash.png');
}

.delete-btn:hover, .delete-btn:focus {
    background-image: url('../../../../assets/icons/btn/trash_hover.png');
    outline: none;
}

.delete-btn:active {
    background-image: url('../../../../assets/icons/btn/trash_active.png');
}
