@import "~bootstrap/scss/bootstrap";;

.table-pagination-controls {
  text-align: center;
}

.table-pagination-controls ::ng-deep .ngx-pagination {
  font-size: 0.8rem;

  .current {
    background: $primary;
  }
}
