<nav class="navbar px-1 bg-light h-100 align-items-start">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item" ngbDropdown display="dynamic" *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                <a class="nav-link" tabindex="0" ngbDropdownToggle id="executeDropdown" role="button"
                   (click)="executeScenarioOnToggle()">
                    <i class="fa fa-play me-1"></i>
                    {{'global.actions.execute' | translate}}
                </a>
                <div ngbDropdownMenu aria-labelledby="executeDropdown" class="dropdown-menu">
                    <a class="cursor-pointer" ngbDropdownItem *ngFor="let env of environments"
                       (click)="executeScenario(env)">{{ env }}</a>
                </div>
            </li>

            <li class="nav-item" *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                <a class="nav-link"
                   routerLink="{{isComposed(testCaseId) ? '/scenario/' + testCaseId + '/component-edition' : '/scenario/' + testCaseId + '/raw-edition'}}">
                    <i class="fa fa-pencil-alt me-1"></i>
                    {{'global.actions.edit' | translate}}</a>
            </li>

            <li class="nav-item" *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                    <span class="nav-link cursor-pointer" (click)="openModal(template)">
                        <i class="fa fa-trash me-1"></i>{{'global.actions.delete' | translate}}
                    </span>
            </li>

            <li class="nav-item" *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                    <span class="nav-link cursor-pointer"
                          (click)="duplicateScenario()">
                        <i class="fa fa-clone"></i>
                        {{'global.actions.clone' | translate}}
                    </span>
            </li>
            <li class="nav-item" *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                    <span class="nav-link cursor-pointer"
                          (click)="exportScenario()">
                        <i class="fa fa-file-code"></i>
                        {{'global.actions.export' | translate}}
                    </span>
            </li>
        </ul>
    </div>
</nav>

<ng-template #template>
    <div class="modal-body text-center">
        <p>{{'scenarios.execution.actions.remove' | translate}}</p>
        <button type="button" class="btn btn-default" (click)="confirm()">{{'global.confirm.yes' | translate}}</button>
        <button id="no-btn" type="button" class="btn btn-primary"
                (click)="decline()">{{'global.confirm.no' | translate}}</button>
    </div>
</ng-template>

