<chutney-chutney-right-menu *ngIf="rightMenuItems" [menuItems]="rightMenuItems"></chutney-chutney-right-menu>

<ng-template #delete_modal>
    <div class="modal-body text-center">
        <p>{{'scenarios.execution.actions.remove' | translate}}</p>
        <button type="button" class="btn btn-default" (click)="confirm()">{{'global.confirm.yes' | translate}}</button>
        <button id="no-btn" type="button" class="btn btn-primary" name="decline"
                (click)="decline()">{{'global.confirm.no' | translate}}</button>
    </div>
</ng-template>

