@import "~bootswatch/dist/flatly/variables";

$nav-link-padding-x: 1rem;
$link-color: $primary;
$info:#3190d0;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/flatly/bootswatch";

.app-sidebar{
    background-color: $light;
}

.report-bg {
    background-color: var(--bs-gray-100) !important;
}
