<div class="row page-header m-4 pl-2">
    <div class="col-md-5">
        <h4>{{campaign && campaign.title | uppercase}}
            <small class="text-muted"> {{campaign && campaign.description}}</small>
        </h4>
    </div>
    <div class="col-md-2">
        <div class="btn-toolbar">
            <button *ngIf="running" type="button" class="btn btn-dark" (click)="stopScenario()">
                <span class="fa fa-stop mr-2"></span>
                <span class="btn-label">{{ 'global.actions.stop' | translate }}</span>
            </button>
            <div ngbDropdown class="d-inline-block">
                <button id="execute-campaign-btn" type="button" class="btn btn-success" ngbDropdownToggle
                        (click)="executeCampaignOnToggle()"
                        [disabled]="running || (scenarios && scenarios.length == 0)">
                    <span class="fa fa-play mr-2" aria-hidden="true"></span>
                    <span class="btn-label">{{ 'global.actions.execute' | translate }}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="execute-campaign-btn">
                    <button *ngFor="let env of environments" class="dropdown-item" ngbDropdownItem
                            (click)="executeCampaign(env.name)">{{ env.name }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="btn-toolbar">
            <button type="button" class="btn btn-light border" (click)="editCampaign(campaign)">
                <span class="fa fa-pencil-alt mr-2"></span>
                <span class="btn-label">{{ 'global.actions.edit' | translate }}</span>
            </button>
            <button type="button" class="btn btn-outline-danger"
                    (click)="deleteCampaign(campaign.id, campaign.title)">
                <span class="fa fa-trash mr-2"></span>
                <span class="btn-label">{{ 'global.actions.delete' | translate }}</span>
            </button>
            <button type="button" class="btn btn-light border" (click)="exportScenarioByCampaign()">
                <span class="fa fa-file-code mr-2"></span>
                <span class="btn-label">{{ 'global.actions.export' | translate }}</span>
            </button>
        </div>
    </div>
</div>

<div class="row bg-danger" *ngIf="executionError">
    <div class="col-2 pl-0">
        <button type="button" class="btn text-white" (click)="executionError = ''">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <em class="text-white font-weight-bold">{{executionError}}</em>
</div>

<div class="row">
    <div class="history-panel col col-md-2">
        <h2>{{ 'campaigns.execution.last.actual' | translate }}</h2>
        <div class="reports" *ngIf="last">
            <div class="row tile tile-click tile-ko tile-selected"
                (click)="currentCampaignExecutionReport = null"
                [ngClass]="{
                        'tile-ok': last.allPassed(),
                        'tile-ko': last.hasFailure() || last.hasStopped(),
                        'tile-selected': currentCampaignExecutionReport == null
                    }"
                >
                <div id="scenarioSummary" class="col scenario-summary">
                    <span *ngIf="last.hasPassed()"> {{last.passed}} {{ 'campaigns.execution.last.ok' | translate }} </span>
                    <span *ngIf="last.hasFailure()"> {{last.failed}} {{ 'campaigns.execution.last.ko' | translate }} </span>
                    <span *ngIf="last.hasStopped()"> {{last.stopped}} {{ 'campaigns.execution.last.stop' | translate }} </span>
                </div>
            </div>
        </div>

        <h2>{{ 'campaigns.execution.history.title' | translate }}</h2>
        <div *ngIf="campaign && campaign.campaignExecutionReports" class="reports">
            <div class="row tile tile-click" *ngFor="let report of campaign.campaignExecutionReports"
                 (click)="selectReport(report)"
                 [ngClass]="{
                    'tile-ok': report.status == 'SUCCESS',
                    'tile-ko': report.status == 'FAILURE' || report.status == 'STOPPED',
                    'tile-selected': report.executionId == currentCampaignExecutionReport?.executionId,
                    'tile-running': report.status == 'RUNNING'}">

                <div class="col col-lg-3 title">
                    <i class="fa fa-circle" aria-hidden="true"
                       [ngClass]="{
                        'circle-ok': report.status == 'SUCCESS',
                        'circle-ko': report.status == 'FAILURE' || report.status == 'STOPPED',
                        'circle-running': report.status == 'RUNNING'}"><span
                        class="execution-id">#{{report.executionId}}</span></i>
                </div>
                <div class="col-lg-9 time">
                    <span *ngIf="report.partialExecution" class="fa fa-sync float-right"></span>
                    <em *ngIf="!isOlderThan(report.startDate, 4)">{{report.startDate | amCalendar:{sameDay: '['.concat('scenarios.execution.history.time' | translate).concat('] h:mm')} }}</em>
                    <em *ngIf="isOlderThan(report.startDate, 4)">{{report.startDate | amDateFormat: 'DD MMM. YYYY HH:mm' }}</em>
                    <div><em>({{ 'global.time.in' | translate }} {{report.duration | amDuration:'ms' }})</em></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 pl-4" *ngIf="currentCampaignExecutionReport">
        <div *ngIf="current.hasFailure()">
            <div class="d-inline-block mb-2">
                <button id="replay-btn" type="button" class="btn btn-sm btn-success"
                        title="{{ 'campaigns.execution.replay' | translate }}"
                        [disabled]="running || (scenarios && scenarios.length == 0)"
                        (click)="replayFailed()">
                    <span class="fa fa-play mr-2" aria-hidden="true"></span>
                    <span class="btn-label">{{ 'global.actions.replay' | translate }}</span>
                </button>
            </div>
        </div>

        <span class="m-2">
            {{'campaigns.execution.name' | translate}} <strong>#{{currentCampaignExecutionReport.executionId}}</strong>
            {{'campaigns.execution.on_env' | translate}} <strong>{{currentCampaignExecutionReport.executionEnvironment}}</strong>
        </span>
        <chutney-execution-badge [status]="currentCampaignExecutionReport.status"
                                [spin]="true"></chutney-execution-badge>

        <span class="m-2" *ngIf="current.hasPassed()"> {{current.passed}} {{ 'campaigns.execution.last.ok' | translate }}, </span>
        <span class="m-2" *ngIf="current.hasFailure()"> {{current.failed}} {{ 'campaigns.execution.last.ko' | translate }}, </span>
        <span class="m-2" *ngIf="current.hasStopped()"> {{current.stopped}} {{ 'campaigns.execution.last.stop' | translate }}, </span>
        <span class="m-2"> of {{current.total}}  </span>

        <small class="text-muted ml-2">{{ 'global.time.in' | translate }}
            {{currentCampaignExecutionReport.duration | duration}}</small>
        <small class="text-muted ml-2" *ngIf="currentCampaignExecutionReport">
            {{ 'global.time.at' | translate }}
            {{currentCampaignExecutionReport.startDate  | amDateFormat: 'DD MMM. YYYY HH:mm' }}
        </small>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="w5">{{ 'campaigns.execution.scenarios.item.header.id' | translate }}</th>
                        <th scope="col" class="w5">{{ 'campaigns.execution.scenarios.item.header.state' | translate }}</th>
                        <th scope="col" class="w80">{{ 'campaigns.execution.scenarios.item.header.title' | translate }}</th>
                        <th scope="col" class="w10">{{ 'campaigns.execution.scenarios.item.header.duration' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scenarioReportOutline of currentScenariosReportsOutlines">
                        <td>
                            <span class="font-weight-bold small_text">{{scenarioReportOutline.scenarioId}}</span>
                        </td>
                        <td>
                            <chutney-execution-badge [status]="scenarioReportOutline.status"
                                                [spin]="true"></chutney-execution-badge>
                        </td>
                        <td>
                            <a class="table-link"
                               [routerLink]="['/scenario', scenarioReportOutline.scenarioId, 'execution', scenarioReportOutline.executionId != -1 ? scenarioReportOutline.executionId : 'last']"
                                title="{{ 'campaigns.execution.scenarios.item.executions.link' | translate }} {{scenarioReportOutline.scenarioName}}">
                                {{scenarioReportOutline.scenarioName}}
                            </a>
                        </td>
                        <td>
                                <span class=" small_text">{{scenarioReportOutline.duration | duration:'short' }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-10  pl-4" *ngIf="!currentCampaignExecutionReport">
        <span class="font-weight-bold">{{ 'campaigns.execution.scenarios.title' | translate }}</span>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" class="w1">&nbsp;</th>
                    <th scope="col" class="w70">{{ 'campaigns.execution.scenarios.header.title' | translate }}</th>
                    <th scope="col" class="w15">{{ 'campaigns.execution.scenarios.header.tags' | translate }}</th>
                    <th scope="col" class="w14">{{ 'campaigns.execution.scenarios.header.creation' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let scenario of scenarios"
                    [routerLink]="['/scenario', scenario.id, 'execution', 'last']"
                    class="pointer">
                    <td>
                        <span class="fa" [ngClass]="scenario.isComposed ? 'fa-cubes' : 'fa-pencil-alt'"></span>
                    </td>
                    <td>
                        <a class="table-link" [routerLink]="['/scenario', scenario.id,'execution', 'last']"
                           title="{{ 'campaigns.execution.scenarios.item.title' | translate }} {{scenario.title}}">{{scenario.title}}</a>
                    </td>
                    <td>
                        <span *ngFor="let tag of scenario.tags">
                            <span class="chutney-tag chutney-tag-selected">{{tag}}</span>
                        </span>
                    </td>
                    <td scope="row">
                        {{ scenario.creationDate | amLocale:'fr' | amTimeAgo }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="scenarios && scenarios.length == 0" class="alert alert-dark col-md-12 not-found text-muted">
            <span>{{ 'campaigns.execution.scenarios.empty' | translate }}</span>
        </div>
    </div>
</div>
