<div class="row page-header m-5">
    <div class="col-md-5">
        <h4>{{campaign && campaign.title | uppercase}}
            <small class="text-muted"> {{campaign && campaign.description}}</small>
        </h4>
    </div>
    <div class="col-md-3">
        <div class="btn-toolbar">
            <button *ngIf="running" type="button" class="btn btn-dark" (click)="stopScenario()">
                <span class="fa fa-stop mr-2"></span>
                <span class="btn-label">stop</span>
            </button>
            <div ngbDropdown class="d-inline-block">
                <button id="execute-campaign-btn" type="button" class="btn btn-success" ngbDropdownToggle
                        (click)="executeCampaignOnToggle()"
                        [disabled]="running || (scenarios && scenarios.length == 0)">
                    <span class="fa fa-play mr-2" aria-hidden="true"></span>
                    <span class="btn-label">{{ 'global.actions.execute' | translate }}</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="execute-campaign-btn">
                    <button *ngFor="let env of environments" class="dropdown-item" ngbDropdownItem
                            (click)="executeCampaign(env.name)">{{ env.name }}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="btn-toolbar">
            <button type="button" class="btn btn-light border" (click)="editCampaign(campaign)">
                <span class="fa fa-pencil-alt mr-2"></span>
                <span class="btn-label">{{ 'global.actions.edit' | translate }}</span>
            </button>
            <button type="button" class="btn btn-outline-danger"
                    (click)="deleteCampaign(campaign.id, campaign.title)">
                <span class="fa fa-trash mr-2"></span>
                <span class="btn-label">{{ 'global.actions.delete' | translate }}</span>
            </button>
            <button type="button" class="btn btn-light border" (click)="exportScenarioByCampaign()">
                <span class="fa fa-file-code mr-2"></span>
                <span class="btn-label">{{ 'global.actions.export' | translate }}</span>
            </button>
        </div>
    </div>
</div>

<div class="row bg-danger" *ngIf="executionError">
    <div class="col-2 pl-0">
        <button type="button" class="btn text-white" (click)="executionError = ''">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <em class="text-white font-weight-bold">{{executionError}}</em>
</div>

<div class="row">
    <div class="history-panel col col-md-2">
        <h2>{{ 'campaigns.execution.actual' | translate }}</h2>
        <div class="reports">
            <div class="row tile tile-click tile-ko tile-selected"
                (click)="currentCampaignExecutionReport = null"
                [ngClass]="{
                        'tile-ok': scenarioKO == 0,
                        'tile-ko': scenarioKO > 0,
                        'tile-selected': currentCampaignExecutionReport == null
                    }"
                >
                <div class="col" style="color:white; text-align: center;">
                    <strong>
                        {{scenarioOK}} OK - {{scenarioKO}} KO
                    </strong>
                </div>
            </div>
        </div>

        <h2>{{ 'campaigns.execution.history.title' | translate }}</h2>
        <div *ngIf="campaign && campaign.campaignExecutionReports" class="reports">
            <div class="row tile tile-click" *ngFor="let report of campaign.campaignExecutionReports"
                 (click)="selectReport(report)"
                 [ngClass]="{
                    'tile-ok': report.status == 'SUCCESS',
                    'tile-ko': report.status == 'FAILURE',
                    'tile-selected': report.executionId == currentCampaignExecutionReport?.executionId,
                    'tile-running': report.status == 'RUNNING'}">

                <div class="col col-lg-3 title">
                    <i class="fa fa-circle" aria-hidden="true"
                       [ngClass]="{
                        'circle-ok': report.status == 'SUCCESS',
                        'circle-ko': report.status == 'FAILURE',
                        'circle-running': report.status == 'RUNNING'}"><span
                        class="execution-id">#{{report.executionId}}</span></i>
                </div>
                <div class="col-lg-9 time">
                    <span *ngIf="report.partialExecution" class="fa fa-sync float-right"></span>
                    <em *ngIf="!isOlderThan(report.startDate, 4)">{{report.startDate | amCalendar:{sameDay: '['.concat('scenarios.execution.history.time' | translate).concat('] h:mm')} }}</em>
                    <em *ngIf="isOlderThan(report.startDate, 4)">{{report.startDate | amDateFormat: 'DD MMM. YYYY HH:mm' }}</em>
                    <div><em>({{ 'global.time.in' | translate }} {{report.duration | amDuration:'ms' }})</em></div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="col-md-10 pl-4" *ngIf="currentCampaignExecutionReport">

        <div *ngIf="countFailedScenario(currentCampaignExecutionReport) > 0">
            <div class="d-inline-block mb-4">
                {{ 'campaigns.execution.replay' | translate }}: <br/>
                <button id="replay-btn" type="button" class="btn btn-success" [disabled]="running || (scenarios && scenarios.length == 0)" (click)="replayFailed()">
                    <span class="fa fa-play mr-2" aria-hidden="true"></span>
                    <span class="btn-label">{{ 'global.actions.replay' | translate }}</span>
                </button>
            </div>
        </div>

        <span class="m-2">Campaign execution <strong>#{{currentCampaignExecutionReport.executionId}}</strong> {{'campaigns.execution.on_env' | translate}} <strong>{{currentCampaignExecutionReport.executionEnvironment}}</strong></span>
        <chutney-execution-badge [status]="currentCampaignExecutionReport.status"
                                [spin]="true"></chutney-execution-badge>
        <small class="text-muted ml-2">{{ 'global.time.in' | translate }}
            {{currentCampaignExecutionReport.duration | duration}}</small>
        <small class="text-muted ml-2" *ngIf="currentCampaignExecutionReport">
            {{ 'global.time.at' | translate }}
            {{currentCampaignExecutionReport.startDate  | amDateFormat: 'DD MMM. YYYY HH:mm' }}
        </small>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 5%">Id</th>
                        <th scope="col" style="width: 5%">Etat</th>
                        <th scope="col" style="width: 90%">Titre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scenarioReportOutline of currentScenariosReportsOutlines">
                        <td>
                            <span class="font-weight-bold">{{scenarioReportOutline.scenarioId}}</span>
                        </td>
                        <td>
                            <chutney-execution-badge [status]="scenarioReportOutline.status"
                                                [spin]="true"></chutney-execution-badge>
                        </td>
                        <td>
                            <a class="table-link" [routerLink]="['/scenario', scenarioReportOutline.scenarioId, 'execution', scenarioReportOutline.executionId != -1 ? scenarioReportOutline.executionId : 'last']"
                            title="{{ 'campaigns.execution.scenarios.item.executions.link' | translate }} {{scenarioReportOutline.scenarioName}}">
                                {{scenarioReportOutline.scenarioName}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-10  pl-4" *ngIf="!currentCampaignExecutionReport">
        <span class="font-weight-bold">{{ 'campaigns.execution.scenarios.title' | translate }}</span>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" style="width: 1%">&nbsp;</th>
                    <th scope="col" style="width: 70%">Titre</th>
                    <th scope="col" style="width: 15%">Tags</th>
                    <th scope="col" style="width: 14%">Créé</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let scenario of scenarios"
                    [routerLink]="['/scenario', scenario.id, 'execution', 'last']"
                    style="cursor: pointer">
                    <td>
                        <span class="fa" [ngClass]="scenario.isComposed() ? 'fa-cubes' : 'fa-pencil-alt'"></span>
                    </td>
                    <td>
                        <a class="table-link" [routerLink]="['/scenario', scenario.id,'execution', 'last']"
                           title="{{ 'campaigns.execution.scenarios.item.title' | translate }} {{scenario.title}}">{{scenario.title}}</a>
                    </td>
                    <td>
                        <span *ngFor="let tag of scenario.tags">
                            <span class="chutney-tag chutney-tag-selected">{{tag}}</span>
                        </span>
                    </td>
                    <td scope="row">
                        {{ scenario.creationDate | amLocale:'fr' | amTimeAgo }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="scenarios && scenarios.length == 0" class="alert alert-dark col-md-12 not-found text-muted">
            <span>{{ 'campaigns.execution.scenarios.empty' | translate }}</span>
        </div>
    </div>
</div>
