<div *ngIf="campaign" class="create-campaign-container min-vh-100">
    <div class="w-100">
    <div class ="d-flex flex-md-row justify-content-between mb-4">
        <div>
            <h4 [innerHTML]="campaign.title | linkify">
            </h4>
            <small class="text-muted" [innerHTML]="campaign.description | linkify"></small>
        </div>
        <div>
            <ng-container *hasAuthorization="[Authorization.CAMPAIGN_EXECUTE]">
                <button *ngIf="running" type="button" class="btn btn-dark m-2" (click)="stopScenario()" [disabled]="stopRequested ">
                    <span class="fa fa-stop me-2"></span>
                    <span class="btn-label">{{ 'global.actions.stop' | translate }}</span>
                </button>
                <div *ngIf="!running" ngbDropdown class="d-inline-block">
                    <button id="execute-campaign-btn" type="button" class="btn btn-success" ngbDropdownToggle
                            (click)="executeCampaignOnToggle()"
                            [disabled]="running || (scenarios && scenarios.length == 0)">
                        <span class="fa fa-play me-2" aria-hidden="true"></span>
                        <span class="btn-label">{{ 'global.actions.execute' | translate }}</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="execute-campaign-btn">
                        <button *ngFor="let env of environments" class="dropdown-item" ngbDropdownItem
                                (click)="executeCampaign(env)">{{ env }}</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *hasAuthorization="[Authorization.CAMPAIGN_WRITE]">
                <button type="button" class="btn btn-light border" (click)="editCampaign(campaign)">
                    <span class="fa fa-pencil-alt me-2"></span>
                    <span class="btn-label">{{ 'global.actions.edit' | translate }}</span>
                </button>
                <button type="button" class="btn btn-outline-danger"
                        (click)="deleteCampaign(campaign.id, campaign.title)"
                        [disabled]="running">
                    <span class="fa fa-trash me-2"></span>
                    <span class="btn-label">{{ 'global.actions.delete' | translate }}</span>
                </button>
                <button type="button" class="btn btn-light border" (click)="exportScenarioByCampaign()">
                    <span class="fa fa-file-code me-2"></span>
                    <span class="btn-label">{{ 'global.actions.export' | translate }}</span>
                </button>
            </ng-container>

        </div>
    </div>

<div class="row bg-danger" *ngIf="executionError">
    <div class="col-2 ps-0">
        <button type="button" class="btn text-white" (click)="executionError = ''">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <em class="text-white fw-bold">{{executionError}}</em>
</div>

<div class="row bg-danger" *ngIf="errorMessage">
    <div class="col-2 pls0">
        <button type="button" class="btn text-white" (click)="errorMessage = ''">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <em class="text-white fw-bold">{{errorMessage}}</em>
</div>

<div class="row">
    <div class="history-panel col col-md-2" *ngIf="campaign && campaign.campaignExecutionReports && campaign.campaignExecutionReports.length > 0">
        <h2>{{ 'campaigns.execution.last.actual' | translate }}</h2>
        <div class="reports" *ngIf="last">
            <div class="row tile tile-click tile-ko tile-selected"
                (click)="selectLastCompleteExecution()"
                [ngClass]="{
                        'tile-ok': last.allPassed(),
                        'tile-ko': last.hasFailure() && !(last.hasStopped() || last.hasNotExecuted()),
                        'tile-stop': last.hasStopped() || last.hasNotExecuted(),
                        'tile-selected': currentCampaignExecutionReport == null
                    }"
                >
                <div id="scenarioSummary" class="col scenario-summary">
                    <span *ngIf="last.hasPassed()"> {{last.passed}} {{ 'campaigns.execution.last.ok' | translate }} </span>
                    <span *ngIf="last.hasFailure()"> {{last.failed}} {{ 'campaigns.execution.last.ko' | translate }} </span>
                </div>
            </div>
        </div>

        <h2>{{ 'campaigns.execution.history.title' | translate }}</h2>
        <div  class="reports">
            <div class="row tile tile-click" *ngFor="let report of campaign.campaignExecutionReports"
                 (click)="selectReport(report)"
                 [ngClass]="{
                    'tile-ok': report.status == 'SUCCESS',
                    'tile-ko': report.status == 'FAILURE',
                    'tile-stop': report.status == 'STOPPED',
                    'tile-selected': report.executionId == currentCampaignExecutionReport?.executionId,
                    'tile-running': report.status == 'RUNNING'}">

                <div class="col col-lg-3 title">
                    <span class="execution-id">#{{report.executionId}}</span>
                </div>
                <div class="col-lg-9 time">
                    <span *ngIf="report.partialExecution" class="fa fa-sync float-end"></span>
                    <em *ngIf="!isOlderThan(report.startDate, 4)">{{report.startDate | amCalendar:{sameDay: '['.concat('scenarios.execution.history.time' | translate).concat('] h:mm')} }}</em>
                    <em *ngIf="isOlderThan(report.startDate, 4)">{{report.startDate | amDateFormat: 'DD MMM. YYYY HH:mm' }}</em>
                    <div><em>({{ 'global.time.in' | translate }} {{report.duration | amDuration:'ms' }})</em></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 ps-4" *ngIf="currentCampaignExecutionReport">
        <div *ngIf="current.hasFailure() || current.hasStopped()">
            <div class="d-inline-block mb-2">
                <button *hasAuthorization="[Authorization.CAMPAIGN_EXECUTE]"
                        id="replay-btn" type="button" class="btn btn-sm btn-success"
                        title="{{ 'campaigns.execution.replay' | translate }}"
                        [disabled]="running || (scenarios && scenarios.length == 0)"
                        (click)="replayFailed()">
                    <span class="fa fa-play me-2" aria-hidden="true"></span>
                    <span class="btn-label">{{ 'global.actions.replay' | translate }}</span>
                </button>
            </div>
        </div>

        <span class="m-2">
            {{'campaigns.execution.name' | translate}} <strong>#{{currentCampaignExecutionReport.executionId}}</strong>
            <span *ngIf="this.jiraUrl && this.testExecutionId"> (<a target="_blank" rel="noopener noreferrer" href="{{ this.jiraUrl +'/browse/' + testExecutionId }}">{{testExecutionId}}</a>)</span>
            {{'campaigns.execution.on_env' | translate}} <strong>{{currentCampaignExecutionReport.executionEnvironment}}</strong>
            {{currentCampaignExecutionReport.user == '' ? '' : 'global.smallword.by' | translate }} <strong>{{currentCampaignExecutionReport.user}}</strong>
        </span>
        <chutney-execution-badge [status]="currentCampaignExecutionReport.status"
                                [spin]="true"></chutney-execution-badge>
        <br/>
        <span *ngIf="current.hasPassed()"> {{current.passed}} {{ 'campaigns.execution.last.ok' | translate }},</span>
        <span *ngIf="current.hasFailure()"> {{current.failed}} {{ 'campaigns.execution.last.ko' | translate }},</span>
        <span *ngIf="current.hasStopped()"> {{current.stopped}} {{ 'campaigns.execution.last.stop' | translate }},</span>
        <span *ngIf="current.hasNotExecuted()"> {{current.notexecuted}} {{ 'campaigns.execution.last.notexecuted' | translate }}</span>
        <span> {{ 'global.smallword.of' | translate }} {{current.total}}</span>

        <small class="text-muted ms-2">{{ 'global.time.in' | translate }}
            {{currentCampaignExecutionReport.duration | duration}}</small>
        <small class="text-muted ms-2">
            {{ 'global.time.at' | translate }}
            {{currentCampaignExecutionReport.startDate  | amDateFormat: 'DD MMM. YYYY HH:mm' }}
        </small>
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="filter w5" (click)="sortCurrentBy('scenarioId')">{{ 'campaigns.execution.scenarios.item.header.id' | translate }}
                            <span *ngIf="orderBy == 'scenarioId' && reverseOrder" class="fa fa-caret-down"></span>
                            <span *ngIf="orderBy == 'scenarioId' && !reverseOrder" class="fa fa-caret-up"></span>
                        </th>
                        <th scope="col" class="filter w5" (click)="sortCurrentBy('status')">{{ 'campaigns.execution.scenarios.item.header.state' | translate }}
                            <span *ngIf="orderBy == 'status' && reverseOrder" class="fa fa-caret-down"></span>
                            <span *ngIf="orderBy == 'status' && !reverseOrder" class="fa fa-caret-up"></span>
                        </th>
                        <th scope="col" class="filter w55" (click)="sortCurrentBy('scenarioName')">{{ 'campaigns.execution.scenarios.item.header.title' | translate }}
                            <span *ngIf="orderBy == 'scenarioName' && reverseOrder" class="fa fa-caret-down"></span>
                            <span *ngIf="orderBy == 'scenarioName' && !reverseOrder" class="fa fa-caret-up"></span>
                        </th>
                        <th scope="col" class="filter w10" (click)="sortCurrentBy('duration')">{{ 'campaigns.execution.scenarios.item.header.duration' | translate }}
                            <span *ngIf="orderBy == 'duration' && reverseOrder" class="fa fa-caret-down"></span>
                            <span *ngIf="orderBy == 'duration' && !reverseOrder" class="fa fa-caret-up"></span>
                        </th>
                        <th *ngIf="testExecutionId" scope="col" class="w5" ></th>
                        <th *ngIf="testExecutionId" scope="col" class="w20" >{{ 'campaigns.execution.scenarios.item.header.jiraStatus' | translate }}</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let scenarioReportOutline of currentScenariosReportsOutlines">
                        <td>
                            <span class="fw-bold small_text">{{scenarioReportOutline.scenarioId}}</span>
                        </td>
                        <td>
                            <chutney-execution-badge [status]="scenarioReportOutline.status"
                                                [spin]="true" [title]="scenarioReportOutline.error"></chutney-execution-badge>
                        </td>
                        <td>
                            <ng-container *hasAuthorization="[Authorization.SCENARIO_READ]">
                                <a
                                   [routerLink]="['/scenario', scenarioReportOutline.scenarioId, 'executions']"
                                   [queryParams]="toQueryParams(scenarioReportOutline)"
                                    title="{{ 'campaigns.execution.scenarios.item.executions.link' | translate }} {{scenarioReportOutline.scenarioName}}">
                                    {{scenarioReportOutline.scenarioName}}
                                </a>
                            </ng-container>
                            <ng-container *hasAuthorization="{not: true, authorizations: [Authorization.SCENARIO_READ]}">
                                {{scenarioReportOutline.scenarioName}}
                            </ng-container>
                        </td>
                        <td>
                            <span class=" small_text">{{scenarioReportOutline.duration | duration:'short' }}</span>
                        </td>
                        <td *ngIf="testExecutionId && getJiraLink(scenarioReportOutline.scenarioId) !== null">
                            <a role="button" class="btn btn-sm btn-link m-0"
                                target="_blank" href="{{getJiraLink(scenarioReportOutline.scenarioId)}}" rel="noopener noreferrer"
                                ngbPopover="{{getJiraLink(scenarioReportOutline.scenarioId)}}" placement="left" (click)="$event.stopPropagation()"
                                triggers="mouseenter:mouseleave">
                                <span class="fab fa-jira" aria-hidden="true">
                                </span>
                            </a>
                        </td>
                        <td *ngIf="testExecutionId && getJiraLink(scenarioReportOutline.scenarioId) !== null">
                            <chutney-delete-confirm-dialog class="me-2 mt-1"
                                [dialogMessage]="('campaigns.execution.update.jira' | translate)"
                                [label]=null
                                [title]="('global.actions.update' | translate)"
                                [disabled]="selectedStatusByScenarioId.get(scenarioReportOutline.scenarioId) !=='PASS' && selectedStatusByScenarioId.get(scenarioReportOutline.scenarioId) !=='FAIL' "
                                [btnSizeClass]="'sm'"
                                [btnClassIcon]="'fa-pencil-alt'"
                                [btnColor]="'primary'"
                                (deleteEvent)="updateStatus(scenarioReportOutline.scenarioId)">
                            </chutney-delete-confirm-dialog>
                            <select class="custom-select small_text mt-1" (change)="selectedUpdateStatus(scenarioReportOutline.scenarioId, $event)" style="width: 120px;font-size: 0.5em;"  >
                                <option *ngFor="let enum of xrayStatuses()" [selected]="scenarioStatus(scenarioReportOutline.scenarioId) === enum">{{ enum }}</option>
                                <option [selected]="scenarioStatus(scenarioReportOutline.scenarioId) === UNSUPPORTED">{{UNSUPPORTED}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-10  ps-4" *ngIf="!currentCampaignExecutionReport">
        <span class="fw-bold">{{ 'campaigns.execution.scenarios.title' | translate }} </span>({{ scenarios.length }})
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col" class="w1">&nbsp;</th>
                    <th scope="col" class="filter w70" (click)="sortLastBy('title')">{{ 'campaigns.execution.scenarios.header.title' | translate }}
                        <span *ngIf="orderBy == 'title' && reverseOrder" class="fa fa-caret-down"></span>
                        <span *ngIf="orderBy == 'title' && !reverseOrder" class="fa fa-caret-up"></span>
                    </th>
                    <th scope="col" class="filter w15" (click)="sortLastBy('tags')">{{ 'campaigns.execution.scenarios.header.tags' | translate }}
                        <span *ngIf="orderBy == 'tags' && reverseOrder" class="fa fa-caret-down"></span>
                        <span *ngIf="orderBy == 'tags' && !reverseOrder" class="fa fa-caret-up"></span>
                    </th>
                    <th scope="col" class="filter w14" (click)="sortLastBy('creationDate')">{{ 'campaigns.execution.scenarios.header.creation' | translate }}
                        <span *ngIf="orderBy == 'creationDate' && reverseOrder" class="fa fa-caret-down"></span>
                        <span *ngIf="orderBy == 'creationDate' && !reverseOrder" class="fa fa-caret-up"></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let scenario of orderedScenarios"
                    [routerLink]="hasAuthorization([Authorization.SCENARIO_READ]) ? ['/scenario', scenario.id, 'executions'] : null"
                    [ngClass]="hasAuthorization([Authorization.SCENARIO_READ]) ? 'cursor-pointer' : ''">
                    <td>
                        <span class="fw-bold small_text">{{scenario.id}}</span>
                    </td>
                    <td>
                        <ng-container *hasAuthorization="[Authorization.SCENARIO_READ]">
                            <a [routerLink]="['/scenario', scenario.id,'executions']" [queryParams]="{open: 'last', active: 'last'}"
                               title="{{ 'campaigns.execution.scenarios.item.title' | translate }} {{scenario.title}}">{{scenario.title}}</a>
                        </ng-container>
                        <ng-container *hasAuthorization="{not: true, authorizations: [Authorization.SCENARIO_READ]}">
                            {{scenario.title}}
                        </ng-container>
                    </td>
                    <td>
                        <span *ngFor="let tag of scenario.tags">
                            <span class="chutney-tag chutney-tag-selected">{{tag}}</span>
                        </span>
                    </td>
                    <td scope="row">
                        {{ scenario.creationDate | amLocale:'fr' | amTimeAgo }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="scenarios && scenarios.length == 0" class="alert alert-dark col-md-12 not-found text-muted">
            <span>{{ 'campaigns.execution.scenarios.empty' | translate }}</span>
        </div>
    </div>
</div>
</div>
</div>
