@import "~bootstrap/scss/bootstrap";;

:host ::ng-deep {

    .popover {
        max-width: 30vw; /* optional max width */
        width: intrinsic; /* Safari/WebKit uses a non-standard name */
        width: -moz-max-content; /* Firefox/Gecko */
        width: -webkit-max-content; /* Chrome */
        border: 0;
        border-radius: 0.5rem;

        .arrow {
            margin-top: -8px !important;

            &::after {
                border-left-color: $teal-100;
            }
        }
    }

    .popover-body {
        background-color: $teal-100;
        color: $white;
        border-radius: 0.5rem;
    }
}

.btn-outline-primary {
    color: white;
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.btn-outline-primary:hover {
    color: var(--bs-primary);
    background-color: white;
    border-color: var(--bs-primary);
}

.border-secondary {
    border-color: var(--bs-light);
    color: var(--bs-dark);
}
