<div *ngIf="data !== null" class="ms-3 mt-3">

    <div class="box2">
        <button *hasAuthorization="[Authorization.GLOBAL_VAR_WRITE]"
            type="button" class="btn btn-success m-2 box2" (click)="save()">
            Save
            <span class="fa fa-check"></span>
        </button>
    </div>
    <div class="box2">
        <select class="form-select" [(ngModel)]="currentFileName" (ngModelChange)="updateFileContent($event)">
            <option [value]="fileName" *ngFor="let fileName of fileNames">{{fileName}}</option>
        </select>
    </div>
    <div class="box2">
        <input *hasAuthorization="[Authorization.GLOBAL_VAR_WRITE]"
            id="filename" type="text" class="form-control" name="filename"
            placeholder="Add a new file" [(ngModel)]="currentFileName"/>
    </div>
    <div class="box2">
        <chutney-delete-confirm-dialog *hasAuthorization="[Authorization.GLOBAL_VAR_WRITE]"
            [dialogMessage]="('global.confirm.question' | translate) + ' ' + ('global.actions.delete' | translate) + '\n' + currentFileName"
            [label]="'Delete file'"
            [disabled]="null"
            (deleteEvent)="deleteFile()">
        </chutney-delete-confirm-dialog>
    </div>
    <div class="box2">
        <button type="button" class="btn btn-primary m-2 box2" (click)="help = !help">
            Help
            <span class="fa fa-help"></span>
        </button>
    </div>
    <div class="box2" *ngIf="message"> {{ message }}</div>

    <div *ngIf="help">
        <pre>
Global variable can be user in your scenario or components with **global_variable_name**.
You can defined variable in json in this file.
For example :
{{"{
        key1: value1,
        key2: {
                subKey1: subValue1,
                subKey2: subValue2
        },
        key3: [
                {
                alias: nico,
                test:value
                },
                {
                test:value
                }
        ]
}"}}
will generate keys :
        - subKey1
        - key2.subKey1
        - key2.subKey2
        - nico.test
        - key3[1].test

        </pre>
    </div>

    <div class="globalvar-editor">
        <chutney-editor
            [modes]="['json', 'hjson']"
            [mode]="'hjson'"
            [content]="data"
            (onContentChange)="callBackFunc($event)">
        </chutney-editor>
    </div>
</div>
