<div class="row edition-header">
    <div class="header-left col-md-4">
        <div class="title">
            <input type="text" class="form-control" [ngModel]="testCase.title"/>
        </div>
        <div class="description">
            <input type="text" class="form-control" [ngModel]="testCase.description"/>
        </div>
    </div>
    <div class="header-right triangle-left col-md-4">
        <div class="row mb-1">
            <div class="col-2">
                <chutney-authoring-info [testCase]="testCase"></chutney-authoring-info>
            </div>
            <div class="col-2">
                <chutney-edition-info [testCase]="testCase"></chutney-edition-info>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-2 p-0 align-self-center">
                <label class="form-control-label fw-bold" for="tags">{{ 'scenarios.edition.form.tags' | translate }}</label>
            </div>
            <div class="col">
                <textarea type="text" class="form-control tag-input no-resize" name="tags"
                      id="tags" [ngModel]="testCase.tags" (ngModelChange)="updateTags($event)" rows="2"></textarea>
            </div>
        </div>
    </div>
    <div class="action-pane">
        <button class="save-button btn btn-primary" data-toggle="tooltip" title="Sauvegarder" [disabled]="errorMessage"
            (click)="saveScenario()">
            {{'global.actions.save' | translate}}
        </button>
    </div>
</div>
<div class="plugins">
    <form [formGroup]="pluginsForm" autocomplete="off" class="mb-0">
        <div class="row mb-0 small">
            <div class="col-2">
                <div class="form-inline">
                    <label class="form-control-label fw-bold me-5" for="jiraId">{{'menu.principal.jiraId' | translate}}</label>
                    <input type="text" class="form-control form-control-sm" id="jiraId"
                           formControlName="jiraId"
                           placeholder="ex. LK-42"/>
                </div>
            </div>
            <div class="col-5">
                <div *ngIf="saveErrorMessage" class="text-center btn-danger text-white cursor-default" (click)="this.saveErrorMessage = null">
                    <strong>{{ saveErrorMessage }}</strong>
                </div>
            </div>
        </div>
    </form>
</div>
<div>
    <chutney-error-panel [errorMessage]="errorMessage"></chutney-error-panel>

    <div class="scenario-editor">
        <chutney-editor
            [modes]="['json', 'hjson']"
            [mode]="'hjson'"
            [content]="testCase.content"
            (onContentChange)="onScenarioContentChanged($event)">
        </chutney-editor>
    </div>
</div>
