<div class="row edition-header">
  <div class="header-left col-md-8">
    <div class="title">
      <chutney-forms-editable-label [id]="'title'" [placeholder]="'title'" [defaultValue]="'title'"
                                [(model)]="testCase.title" [type]="'form-title'"></chutney-forms-editable-label>
    </div>
    <div class="description">
      <chutney-forms-editable-text-area [id]="'description'" [placeholder]="'description'" [defaultValue]="'description'"
                                    [(model)]="testCase.description"
                                    [type]="'form-title'"></chutney-forms-editable-text-area>
    </div>
  </div>
  <div class="header-right triangle-left col-md-4">
    <div class="form-group">
      <label class="form-control-label" for="tags">{{ 'scenarios.edition.form.tags' | translate }}</label>
      <textarea type="text" class="form-control" name="tags" id="tags" [ngModel]="testCase.tags" (ngModelChange)="updateTags($event)" rows="1"></textarea>
    </div>
  </div>
  <div class="action-pane">
    <button class="save-button" data-toggle="tooltip" title="Sauvegarder" [disabled]="errorMessage"
            (click)="saveScenario()">
    </button>
  </div>
</div>
<div class="edition-body">
    <div *ngIf="testCase">
        <chutney-scenario-campaigns [idScenario]="testCase.id"></chutney-scenario-campaigns>
    </div>
    <chutney-error-panel [errorMessage]="errorMessage"></chutney-error-panel>

    <chutney-ace-editor
        [hasError]="errorMessage"
        [initialContent]="testCase.content"
        (textChangeEvent)="onScenarioContentChanged($event)">
    </chutney-ace-editor>
</div>
