@import 'colors';

.first-ul {
  max-height: 400px;
  overflow-y: auto;
}

ul {
  list-style-type: circle;
  margin-bottom: 0px;
}

.technical-step {
  position: relative;
  overflow-y: hidden;
}

:host ::ng-deep {
  div.collapsible-title {
    color: $bleu2;
    font-size: 15px !important;

    span.fa {
      font-size: 15px !important;
    }

    &:after {
      border-top: none;
    }
  }
}
