
label {
  margin-bottom: 0;
}

label, input, select {
  vertical-align: middle;
}

#admin-prperties {
  height: 30px;
}

#pagination-props-container {
  font-size: small;
  font-style: italic;
}

.syntax-link {
  font-size: 10px;
  font-style: italic;
}

#itemsPerPage {
  width: 35px;
}

.no-border {
  border: 0;
  background-color: transparent;
}
