button span:not(:first-child) {
    display: block;
}

.accept-spinner {
    margin-right: 5px;
}

.edition-header {
    margin-top: 0;
    margin-bottom: 0;

    .header-left {
        height: 120px;
        background-color: var(--bs-light);
        width: 45%;
        float: left;

        .title {
            margin-top: 15px;
            font-size: 18px;
            line-height: 18px;
            overflow: hidden;
            height:45px;
        }

        .description{
            font-size: 13px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            overflow: hidden;
        }

        .header-tag {
            height:25px;
            overflow: hidden;
        }
    }

    .header-right {
        background-color: var(--bs-dark);
        width:55%;
        height: 120px;
        float: left;
        text-align: center;
        position: relative;
        padding-left: 20px;

        .btn-toolbar {
            height: 100px;

            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -ms-flex-align: center;
            -webkit-align-items: center;
            -webkit-box-align: center;

            align-items: center;
        }

        .btn-group {
            margin-left: 8px;
            margin-right: 8px;
        }

        button {
            margin-left: 2px;
            margin-right: 2px;

            .btn-label {
                font-size: 12px;
            }
        }
    }
}
