<div *ngIf="testCaseMetadata" class="row edition-header">
    <div class="col-md-6 header-left">
        <div class="title" [innerHTML]="testCaseMetadata.title | linkify"></div>
        <div class="description" [innerHTML]="testCaseMetadata.description | linkify"></div>
        <div class="btn-group header-tag">
            <span *ngFor="let tag of testCaseMetadata.tags">
                <span class="chutney-tag chutney-tag-selected">{{tag}}</span>
            </span>
        </div>
    </div>
    <div class="col-md-6 header-right triangle-left">
        <div class="row">
            <div class="col-sm-12 btn-toolbar p-0">
                <div class="col-6 p-0">
                    <ng-container *hasAuthorization="[Authorization.SCENARIO_EXECUTE]">
                        <div ngbDropdown class="d-inline-block">
                            <button id="dropdownBasic1" type="button" class="btn btn-success accept-spinner m-1"
                                    [disabled]="canExecute" ngbDropdownToggle
                                    (click)="executeScenarioOnToggle()">
                                <span class="fa fa-play"></span>
                                <span class="btn-label">{{'global.actions.execute' | translate}}</span>
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button *ngFor="let env of environments" class="dropdown-item"
                                        (click)="executeScenario(env)">{{ env }}</button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                        <div class="btn-group">
                            <button type="button" class="btn btn-light"
                                routerLink="{{isComposed(testCaseId) ? '/scenario/' + testCaseId + '/component-edition' : '/scenario/' + testCaseId + '/raw-edition'}}"
                                [attr.disabled]="isNotEditable()">
                                <span class="fa fa-pencil-alt"></span>
                                <span class="btn-label">{{'global.actions.edit' | translate}}</span>
                            </button>
                        </div>
                    </ng-container>
                </div>
                <div class="col-6 p-0">
                    <ng-container *hasAuthorization="[Authorization.SCENARIO_WRITE]">
                        <chutney-delete-confirm-dialog class="align-items-end" [dialogMessage]="'scenarios.execution.actions.remove' | translate"
                            (deleteEvent)="deleteScenario(testCaseId)" [disabled]="isNotEditable()">
                        </chutney-delete-confirm-dialog>
                        <button type="button" class="btn btn-success accept-spinner align-items-end" (click)="duplicateScenario()">
                            <span class="fa fa-clone"></span>
                            <span class="btn-label">{{'global.actions.clone' | translate}}</span>
                        </button>
                        <button *ngIf="isNotComposed()" type="button" class="btn btn-success accept-spinner align-items-end" (click)="exportScenario()">
                            <span class="fa fa-file-code"></span>
                            <span class="btn-label">{{'global.actions.export' | translate}}</span>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
