@import "~bootstrap/scss/bootstrap";
.navbar {
    margin-top: -$grid-gutter-width;
    margin-right: calc(-1 * calc(var(--bs-gutter-x) * 0.5)) !important;
}
.nav-link:hover {
    font-weight: bold;
    color: var(--bs-primary)!important;
}

