@import "~bootstrap/scss/bootstrap";;


.search-field-group {
    display: flex;
}

input.search-field  {
    border: none;
    font-size: 20px;
    width:100%;
}

span.search-field {
    padding-top: 4px;
    border: none;
}

.clear-button {
    position: relative;
    right: 20px;
    cursor: pointer;
}
