<div *ngIf="executions" class="panel">
    <h2>{{ 'scenarios.execution.history.title' | translate }}</h2>
    <div class="row tile tile-click" *ngFor="let execution of executions; let i = index"
          (click)="selectExecution(execution)"
          [ngClass]="{'tile-ok': execution.status == 'SUCCESS',
                      'tile-ko': execution.status == 'FAILURE',
                      'tile-stop': execution.status == 'STOPPED',
                      'tile-selected': execution.executionId == selectedExecutionId,
                      'tile-running': execution.status == 'RUNNING' || execution.status == 'PAUSED'}">
        <div class="col col-lg-3 title">
            <i class="fa fa-circle" aria-hidden="true" [ngClass]="{'circle-ok': execution.status == 'SUCCESS', 'circle-ko': execution.status == 'FAILURE'}"><span class="exection-id">#{{execution.executionId}}</span></i>
        </div>
        <div class="col-lg-9 time">
            <div *ngIf="selectedExecutionId === execution.executionId" class="fas fa-arrow-left float-right"></div>
            <em *ngIf="!isOlderThan(execution.time, 4)">{{execution.time | amCalendar:{sameDay:'['.concat('scenarios.execution.history.time' | translate).concat('] h:mm')} }}</em>
            <em *ngIf="isOlderThan(execution.time, 4)">{{execution.time | amDateFormat: 'DD MMM. YYYY HH:mm' }}</em>
            <div><em>({{ 'global.time.in' | translate }} {{execution.duration | amDuration:'ms' }})</em></div>
        </div>
        <div *ngIf="execution.error" class="col-lg-12 error">{{execution.error}}</div>
        
    </div>
</div>

