<ng-container [formGroup]="strategyForm">
    <div class="row">
        <label class="col-4 mb-0 ps-0 align-self-center fw-bold" for="strategies">{{'components.shared.edition.fields.strategy.name' | translate}}</label>
        <div class="col-8">
            <select id="strategies" class="form-select" formControlName="type" (change)="setSelectedStrategy()">
                <option *ngFor="let strategy of strategyDefinitions" [ngValue]="strategy.type">
                    {{ strategy.type }}
                </option>
            </select>
        </div>
    </div>

    <chutney-strategy-parameters-form [parameters]="selectedStrategyDef.parameters" [values]="parameterValues" formControlName="parameters"></chutney-strategy-parameters-form>
</ng-container>
