// Responsive
@import "../layout-variables";
@import "~bootstrap/scss/bootstrap";
@media only screen and (max-width: 1320px) {
  .header-user-info {
    display: none;
  }
}

@include media-breakpoint-down(md) {

  .app-sidebar {
    transform: translateX(-$app-sidebar-width-collapsed);
    z-index: 20;
    box-shadow: 0 0 0 0 transparent;

  }

  .closed-sidebar-md.closed-sidebar-open {
    .app-sidebar {
      transform: translateX(0);
      box-shadow: $sidebar-box-shadow;
    }
  }

  .app-header {
    justify-content: space-between;
    z-index: 25;

    .logo-src {
      display: block;
      order: 2;
    }

    .app-header__mobile-menu {
      display: flex;
      order: 1;
        .close-sidebar-btn__mobile {
            font-size: xx-large;
            color: var(--bs-white);
            z-index: 21;
        }

    }

    .app-header__menu {
      display: flex;
      order: 3;
    }

    .app-header__content {
      position: absolute;
      left: 5%;
      width: 90%;
      top: 0;
      transition: all .2s;
      padding: 0 10px !important;
      overflow: hidden;


      .app-header-right {
        padding-right: 0;
      }

    }

    .app-header__menu {
      display: flex;
      order: 3;
    }

  }

  .header-menu-open {
    .app-header__content {
      visibility: visible;
      opacity: 1;
      top: $app-header-height + 20;
    }
  }


  .app-page-title {
    text-align: center;

    .page-title-heading,
    .page-title-wrapper {
      margin: 0 auto;
      display: block;
    }

    .page-title-actions {
      margin: calc($grid-gutter-width / 2) auto 0;
    }

    .page-title-actions,
    .page-title-subheading {
      .breadcrumb-item,
      .breadcrumb {
        display: inline-block;
      }
    }
  }


  .app-header.text-lighter {
    .logo-src {
      //background: url('/assets/logo/logo-circle.png');
    }

    .app-header__menu {
      & > span .btn,
      & > .btn {
        background: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
      }
    }

    .app-header__content {
      background: $gray-800;
    }
  }
    .closed-sidebar:not(.closed-sidebar-open) {
        .app-sidebar {
            display: none!important;
        }
    }
}


@include media-breakpoint-down(sm) {
  .app_main_inner {
    padding: 15px 15px 0;
  }

  body {
    margin-bottom: calc($grid-gutter-width / 2) !important;
  }
}
