<chutney-header [testCaseId]="currentScenarioId"
                [canExecute]="parseError"
                (executeEvent)="executeScenario($event)">
</chutney-header>

<div class="row">
    <div class="col-sm-3half">
        <chutney-execution-history [scenarioId]="currentScenarioId"
                                   [selectedExecutionId]="currentExecutionId"
                                   (onselectExecution)="onSelectExecution($event)"
                                   (onlastIdExecution)="onLastIdExecution($event)"
                                   (onlastStatusExecution)="onlastStatusExecution($event)"
        ></chutney-execution-history>
    </div>

    <div class="col-sm-8half">
        <div class="steps" *ngIf="parseError">
            <div class="error">
                <em>{{'scenarios.execution.errors.parse' | translate}} : {{parseError}}</em>
            </div>
        </div>
        <div class="steps" *ngIf="executionError">
            <div class="error">
                <em>{{executionError}}</em>
            </div>
        </div>
        <div class="mb-2">
            <chutney-scenario-campaigns [idScenario]="currentScenarioId"></chutney-scenario-campaigns>
        </div>
        <ng-container *ngIf="scenarioExecutionReport?.report">
            <div class="row steps">
                <div class="badge-container col-md-6">
                    <span>
                       <chutney-execution-badge [status]="scenarioExecutionReport.report.status" [spin]="true"></chutney-execution-badge>
                        <small class="text-muted ms-2">
                            {{'global.time.in' | translate}} {{scenarioExecutionReport.report.duration | duration}}
                        </small>
                        <small class="text-muted ms-2">
                            {{'global.time.at' | translate}} {{scenarioExecutionReport.report.startDate | date:'medium'}}
                        </small>
                        <small *ngIf="scenarioExecutionReport.user" class="text-muted ms-2">
                            {{'global.smallword.by' | translate}} : <b>{{scenarioExecutionReport.user}}</b>
                        </small>
                        <small class="text-muted ms-2">
                            -  {{'admin.targets.environment' | translate}} : <b>{{scenarioExecutionReport.environment}}</b>
                        </small>
                    </span>
                    <div class="text-sm-center" *hasAuthorization="[Authorization.SCENARIO_EXECUTE]">
                        <div *ngIf="scenarioExecutionReport.report.status == 'RUNNING' || scenarioExecutionReport.report.status == 'PAUSED'"
                              class="btn-group btn-group-sm mt-1 justify-content-center position-relative">
                            <button type="button" class="btn btn-secondary" (click)="stopScenario()"
                                    [disabled]="scenarioExecutionReport.report.status != 'RUNNING'">
                                <span class="fa fa-stop"></span>
                                <span class="btn-label">{{'global.actions.stop' | translate}}</span>
                            </button>

                            <button type="button" class="btn btn-secondary mx-1" (click)="pauseScenario()"
                                    [disabled]="scenarioExecutionReport.report.status != 'RUNNING'">
                                <span class="fa fa-pause"></span>
                                <span class="btn-label">{{'global.actions.pause' | translate}}</span>
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="resumeScenario()"
                                    [disabled]="scenarioExecutionReport.report.status != 'PAUSED'">
                                <span class="fa fa-play"></span>
                                <span class="btn-label">{{'global.actions.resume' | translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="btn-group float-end col-md-3">
                    <button type="button" class="btn btn-sm btn-outline-info m-2 rounded" [ngClass]="!toggleScenarioInfo ? 'active' : ''" (click)="expandAllInfo()">
                        <span class="btn-label"> {{ 'scenarios.execution.step.actions.informations' | translate }}
                        </span>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary m-2 rounded" [ngClass]="!toggleScenarioDetails ? 'active' : ''" (click)="expandAllDetails()">
                        <span class="btn-label">
                            {{toggleScenarioDetails ? ('scenarios.execution.actions.details.show' | translate) : ('scenarios.execution.actions.details.hide' | translate)}}
                        </span>
                    </button>
                </div>
            </div>
            <div class="steps">
                <chutney-scenario-step-report *ngFor="let report of scenarioExecutionReport.report.steps; let i = index"
                                              [id]="i"
                                              [step]="report"></chutney-scenario-step-report>
            </div>
        </ng-container>
        <div *ngIf="!scenarioExecutionReport" class="border">
            <ng-container *ngIf="(scenarioComponent$ | async) as scenarioComponent">
                <div *ngFor="let step of scenarioComponent.componentSteps">
                    <chutney-component-read [step]=step></chutney-component-read>
                </div>
            </ng-container>
            <ng-container *ngIf="(scenarioGwt$ | async) as scenarioGwt">
                <div *ngIf="scenarioGwt.scenario.givens.length > 0" class="gwt" id="given">
                    <div *ngFor="let step of scenarioGwt.scenario.givens">
                        <chutney-gwt-read [step]=step [type]="'given'"></chutney-gwt-read>
                    </div>
                </div>
                <div *ngIf="scenarioGwt.scenario.when" class="gwt" id="when">
                    <chutney-gwt-read [step]=scenarioGwt.scenario.when [type]="'when'"></chutney-gwt-read>
                </div>
                <div *ngIf="scenarioGwt.scenario.thens.length > 0" class="gwt" id="then">
                    <div *ngFor="let step of scenarioGwt.scenario.thens">
                        <chutney-gwt-read [step]=step [type]="'then'"></chutney-gwt-read>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
