@import 'colors';
@import 'menu';

nav.navbar {
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    background-color: $blanc;
    height: $nav-height;
}

nav.fixed-top {
    z-index:300;
}

chutney-menu-item {
    align-self: center;
}

.menu-principal {
    margin-left: $profile-width;
    padding-left: 10px;
    width: 100%;

    .separator {
        width: 5px;
    }
}

.dropbtn {
    height: $nav-height;
    background-color: white;
    color: $grisclair1;
    padding: 16px 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;

    span {
        margin-right: 5px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
