div.step {
    border: 0 solid #eee;
    border-left-width: .25rem;

    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

div.step-container {
    margin-top: 0;
    margin-bottom: 0;
}

.optional {
    color: #58c69f;
}

button.btn-link {
    border-width: 0;
    padding: 0;
}

pre {
    background-color: white;
}

.btn-toolbar button {
    height: 20px;
    padding-top: 0;
    margin-top: 3px;
}

.inputs {
    border: 0 double rgba(216, 216, 216, 0.87);
    border-left-width: .25rem;
    padding-left: 5px;
}