.configuration {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    &__theme {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.7rem;
        select {
            font-size: 0.7rem;
        }
    }

}
.ace-editor {
    font-size: 13pt;
    width: 100%;
    height: 100%;
}

.wrapper, .wrapper-with-error {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}

.wrapper-with-error {
    height: calc(100% - 70px);
}


