<div [formGroup]="parentForm" class="mt-3 ms-3">
    <span class="fw-bold cursor-default me-2"
          (click)="switchCollapseParam()">{{'components.shared.edition.blocks.parameters' | translate}}</span>
    <button class="btn btn-sm btn-light btn-outline-dark border-0" type="button"
            (click)="switchCollapseParam()"
            title="{{(collapseParam ? 'global.actions.show' : 'global.actions.hide') | translate}}">
        <span class="fa" [ngClass]="collapseParam ? 'fa-eye' : 'fa-eye-slash'"></span>
    </button>
    <button *hasAuthorization="[Authorization.COMPONENT_WRITE]"
            class="btn btn-sm btn-light btn-outline-dark border-0 ms-sm-2"
            (click)="collapseParam = false; addParameters();"
            title="{{'global.actions.add' | translate}}">
        <span class="fa fa-plus"></span>
    </button>
    <ng-container *ngIf="!collapseParam">
        <div class="row mt-3" formArrayName="parameters"
             *ngFor="let parameter of parentForm.get('parameters')?.controls; let i = index;">
            <ng-container [formGroupName]="i">
                <div class="col-4 px-1">
                    <input type="text" class="form-control me-2 small-text" formControlName="key"
                           title="{{parameter.get('key').value}}"
                           placeholder="key"/>
                </div>
                <div class="col-7 px-1">
                    <textarea class="form-control me-2 small-text" formControlName="value" rows="1" placeholder="value"></textarea>
                </div>
                <div class="col-1 px-1 align-self-center text-right">
                    <button *hasAuthorization="[Authorization.COMPONENT_WRITE]"
                            type="button"
                            class="btn btn-sm btn-outline-danger delete-button-height"
                            (click)="removeParameters(i)"
                            title="{{'global.actions.delete' | translate}}">
                        <span class="fa fa-trash"></span>
                    </button>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>
