// Main Base
@import "../layout-variables";
@import "~bootstrap/scss/bootstrap";

.app {
    display: flex;
    flex-direction: column;
    height: 100%;

    &_main {
        height: calc(100% - $app-header-height);
        display: flex;
        flex-direction: row;
        &_inner {
            flex-grow: 1;
            padding: $grid-gutter-width 0 0 $grid-gutter-width;
            transition: all .2s;
            overflow: auto;
            z-index: 8;
        }
    }
}
