<div id="showroom" class="container showroom m-5">

  <h1>Atoms:</h1>

  <h4>Couleurs:</h4>

  <h5>Bleues:</h5>
  <div class="block">Bleu 1<div class="color_bleu1"></div></div>
  <div class="block">Bleu 2<div class="color_bleu2"></div></div>
  <div class="block">Bleu 3<div class="color_bleu3"></div></div>
  <div class="block">Bleu 4<div class="color_bleu4"></div></div>
  <div class="block">Bleu 5<div class="color_bleu5"></div></div>
  <div class="block">Bleu 6<div class="color_bleu6"></div></div>
  <div class="block">Bleu 7<div class="color_bleu7"></div></div>

  <h5>Verts:</h5>
  <div class="block">Vert 1<div class="color_vert1"></div></div>
  <div class="block">Vert 2<div class="color_vert2"></div></div>
  <div class="block">Vert 3<div class="color_vert3"></div></div>
  <div class="block">Vert 4<div class="color_vert4"></div></div>

  <h5>Gris foncé:</h5>
  <div class="block">Gris foncé 1<div class="color_grisfonce"></div></div>
  <div class="block">Gris foncé 2<div class="color_grisfonce1"></div></div>
  <div class="block">Gris foncé 3<div class="color_grisfonce2"></div></div>
  <div class="block">Gris foncé 4<div class="color_grisfonce3"></div></div>

  <h5>Gris clair:</h5>
  <div class="block">Gris clair 1<div class="color_grisclair1"></div></div>
  <div class="block">Gris clair 2<div class="color_grisclair2"></div></div>

  <h5>Secondaires:</h5>
  <div class="block">Liens<div class="color_liens"></div></div>
  <div class="block">Positive<div class="color_positive"></div></div>
  <div class="block">Neutral<div class="color_neutral"></div></div>
  <div class="block">Labelko<div class="color_labelko"></div></div>

  <h4>Buttons:</h4>
  <div class="block">
    First <br/>
    <chutney-button [level]="'first'" [model]="'Text'" ></chutney-button>
  </div>
  <div class="block">
    Second <br/>
    <chutney-button [level]="'second'" [model]="'Text'" ></chutney-button>
  </div>
  <div class="block">
    With icon <br/>
    <chutney-button [iconClass]="'fa-plus'" [level]="'second'" [model]="'Text'" ></chutney-button>
  </div>

  <h4>Links </h4>
  <div class="block">
    <chutney-link [model]="'Text du lien'"></chutney-link>
  </div>

  <h4>Toggle buttons </h4>
  <div class="block">
    <chutney-toggle-button [label]="'Light'" [id]="'light'" [style]="'light'" ></chutney-toggle-button>
  </div>
  <div class="block">
    <chutney-toggle-button [label]="'Skewed'" [id]="'skewed'" [style]="'skewed'"  [onValue]="'On'" [offValue]="'Off'"></chutney-toggle-button>
  </div>
  <div class="block">
    <chutney-toggle-button [label]="'Flat'" [id]="'flat'" [style]="'flat'" ></chutney-toggle-button>
  </div>

  <h4>Fonts: </h4>
  <div class="block">
    <div class="monserrat">Montserrat</div>
    <div class="monserrat font-weight-bold">Montserrat bold</div>
  </div>
  <div class="block">
    <div class="ubuntu">Ubuntu</div>
    <div class="ubuntu font-italic">Ubuntu italic</div>
    <div class="ubuntu font-weight-bold">Ubuntu bold</div>
    <div class="ubuntu font-weight-bold font-italic">Ubuntu bold italic</div>
  </div>
  <div class="block">
    <div class="sourcecodepro">Source Code Pro</div>
  </div>

  <h4>Forms: </h4>
  <div class="block">
    Valid input <br/>
    <chutney-forms-input id="id" placeholder="placeholder" [model]="" [validate]="validate"></chutney-forms-input>
  </div>
  <div class="block">
    Invalid input <br/>
    <chutney-forms-input id="id" placeholder="placeholder" [model]="" [validate]="invalidate"></chutney-forms-input>
  </div>

  <h1>Molecules:</h1>
  <h4>Delete confirm dialog:</h4>
  <div class="block">
    Link <br/>
    <chutney-delete-confirm-dialog [dialogMessage]="'The message'" [type]="'link'" [label]="'Click me to see the pop up'"></chutney-delete-confirm-dialog>
  </div>
  <div class="block">
    Trash icon enabled <br/>
    <chutney-delete-confirm-dialog [dialogMessage]="'The message'" [type]="'trash-button'" [label]="'Click me to see the pop up'" [disabled]="''"></chutney-delete-confirm-dialog>
  </div>
  <div class="block">
    Trash icon diabled <br/>
    <chutney-delete-confirm-dialog [dialogMessage]="'The message'" [type]="'trash-button'" [label]="'Click me to see the pop up'" [disabled]="null"></chutney-delete-confirm-dialog>
  </div>

  <h4>Forms:</h4>
  <h5>Editable badge:</h5>
  <div class="block">
    Simple editable badge<br/>
    <chutney-forms-editable-badge id="id" placeholder="placeholder" model="Edit me" [type]="'simple'"></chutney-forms-editable-badge>
  </div>
  <div class="block">
    Form-title editable badge<br/>
    <chutney-forms-editable-badge id="id" placeholder="placeholder" model="Edit me" [type]="'form-title'"></chutney-forms-editable-badge>
  </div>

  <h5>Editable label:</h5>
  <div class="block">
    Simple editable label<br/>
    <chutney-forms-editable-label id="id" placeholder="placeholder" model="Edit me" [type]="'simple'"></chutney-forms-editable-label>
  </div>
  <div class="block">
      Form-title editable label<br/>
      <chutney-forms-editable-label id="id" placeholder="placeholder" model="Edit me" [type]="'form-title'"></chutney-forms-editable-label>
    </div>

  <h5>Editable text area:</h5>
  <div class="block">
    Simple editable text-area<br/>
    <chutney-forms-editable-text-area id="id" placeholder="placeholder" model="Edit me" [type]="'simple'"></chutney-forms-editable-text-area>
  </div>

  <h5>Input line:</h5>
  <div class="block">
     Input line validate<br/>
    <chutney-forms-input-line [id]="'id'" [label]="'Label'" [placeholder]="'placeholder'" model="Edit me" [validate]="validate"></chutney-forms-input-line>
  </div>
  <div class="block">
    Input line invalidate<br/>
    <chutney-forms-input-line [id]="'id'" [label]="'Label'" [placeholder]="'placeholder'" model="Edit me" [validate]="invalidate"></chutney-forms-input-line>
  </div>

  <h5>Search field:</h5>
  <div class="block">
    Search field<br/>
    <chutney-forms-search-field id="'id'" [placeholder]="'Please search'" ></chutney-forms-search-field>
  </div>

  <h4>Navigation:</h4>
  <div class="block">
      Inactive menu<br/>
      <div class="navbar-nav">
        <chutney-menu-item [style]="'nav-link'" [route]="'/nowhere'" [label]="'Label menu'" [icon_fa_class]="'fa-book'"></chutney-menu-item>
      </div>
  </div>
  <div class="block">
      Active menu<br/>
      <div class="navbar-nav">
        <chutney-menu-item [style]="'nav-link'" [route]="'/showroom'" [label]="'Label menu'" [icon_fa_class]="'fa-book'"></chutney-menu-item>
      </div>
  </div>

  <h4>Panel:</h4>

  <h5>Collapsible:</h5>
  <div class="block">
    <chutney-collapsible-panel [title]="'Collapsible panel'">
      inside the panel
    </chutney-collapsible-panel>
  </div>
  <h5>Error:</h5>
  <div class="block">
    <chutney-error-panel [errorMessage]="'Error message'"></chutney-error-panel>
  </div>
  <h5>Property table:</h5>
  <div class="block">
    <chutney-property-table-panel [entries]="properties"></chutney-property-table-panel>
  </div>

  <h5>Table:</h5>
  <chutney-table-panel [table]="table"></chutney-table-panel>

  <h4>Scénario:</h4>

  <h5>Card:</h5>
  <chutney-scenario-card [scenario]="scenarioSuccess"></chutney-scenario-card>
  <br/>
  <chutney-scenario-card [scenario]="scenarioFailed"></chutney-scenario-card>
  <br/>
  <chutney-scenario-card [scenario]="scenarioNotExecuted"></chutney-scenario-card>
  <br/>
  <chutney-scenario-card [scenario]="scenarioInProgress"></chutney-scenario-card>

  <h5>Functional step:</h5>
  <chutney-functional-step [id]="'id'"
                       [step]="step"
                       [exampleStepsType]="1"
                       [hideAnd]="false"
                       [stepWording]="'wording'"
                       [placeholder]="'placeholder'"
                       [exampleParams$]="exampleParams$">
  </chutney-functional-step>

  <h5>Technical step:</h5>

  <chutney-technical-step [step]="technicalStep" [id]="'id'" [exampleParams$]="exampleParams$"></chutney-technical-step>
</div>
