@import 'colors';

.showroom {
    padding-top: 25px;
    padding-left: 25em;
    padding-right: 10em;
    min-width: 1024px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

h4 {
    margin: 15px;
    margin-left: 0;
    font-size: 1.8em;
    font-weight: bold;
}

h5 {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
    margin-left: 4px;
    margin-bottom: 0px;
    font-size: 1.5em;
}

// Colors
.block {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border: 1px solid lightgrey;
}

.color {
    height:100px; 
    width:100px;
    border: 1px solid black;
}

.color_bleu1 {
    @extend .color;
    background-color: $bleu1;
}
.color_bleu2 {
    @extend .color;
    background-color: $bleu2;
}
.color_bleu3 {
    @extend .color;
    background-color: $bleu3;
}
.color_bleu4 {
    @extend .color;
    background-color: $bleu4;
}
.color_bleu5 {
    @extend .color;
    background-color: $bleu5;
}
.color_bleu6 {
    @extend .color;
    background-color: $bleu6;
}
.color_bleu7 {
    @extend .color;
    background-color: $bleu7;
}
.color_vert1 {
    @extend .color;
    background-color: $vert1;
}
.color_vert2 {
    @extend .color;
    background-color: $vert2;
}
.color_vert3 {
    @extend .color;
    background-color: $vert3;
}
.color_vert4 {
    @extend .color;
    background-color: $vert4;
}
.color_grisfonce {
    @extend .color;
    background-color: $grisfonce;
}
.color_grisfonce1 {
    @extend .color;
    background-color: $grisfonce1;
}
.color_grisfonce2 {
    @extend .color;
    background-color: $grisfonce2;
}
.color_grisfonce3 {
    @extend .color;
    background-color: $grisfonce3;
}
.color_grisclair1 {
    @extend .color;
    background-color: $grisclair1;
}
.color_grisclair2 {
    @extend .color;
    background-color: $grisclair2;
}
.color_liens {
    @extend .color;
    background-color: $liens;
}
.color_positive {
    @extend .color;
    background-color: $positive;
}
.color_neutral {
    @extend .color;
    background-color: $neutral;
}
.color_labelko {
    @extend .color;
    background-color: $labelko;
}

// Fonts
.montserrat {
    font-family: 'Montserrat';
}
.ubuntu {
    font-family: 'Ubuntu';
}
.sourcecodepro {
    font-family: 'Source Code Pro';
}
