.name {
    font-size: 36px;
    font-weight: 300;
    width: 915px;
}

.description {
    font-size: 25px;
    font-weight: 400;
    color: #777;
}

.card-body {
    padding-right: 5px;
}

.plus-btn {
    margin-top: 3px;
}

h1 {
    margin-top: 0;
    font-size: 30px;
}

.error {
    margin-top: 15px;
}

.agent-container {
    min-width: 400px;
}
