<div class="page-header" style="margin: 0 0 10px 0;">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-info" (click)="addServer()">
                <span class="fa fa-plus" aria-hidden="true"></span> {{ 'global.actions.add' | translate }}
            </button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success" (click)="save()">
                <span class="fa fa-floppy-o" aria-hidden="true"></span> Propager
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="card-deck">
        <div class="card">
            <div class="card-body text-dark">
                <table>
                    <tbody>
                        <chutney-agent *ngFor="let configuration of currentConfiguration.agentNetworkConfiguration" [configurationAgent]="configuration" (AgentRemoved)="removeAgent($event)"></chutney-agent>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
