<div class="row edition-header">
    <div class="header-left col-md-8">
        <div class="title">
            <chutney-forms-editable-label [id]="'title'" [placeholder]="'title'" [defaultValue]="'title'"
                                          [(model)]="gwtTestCase.title"
                                          [type]="'form-title'"></chutney-forms-editable-label>
        </div>
        <div class="description">
            <chutney-forms-editable-text-area [id]="'description'" [placeholder]="'description'"
                                              [defaultValue]="'description'"
                                              [(model)]="gwtTestCase.description"
                                              [type]="'form-title'"></chutney-forms-editable-text-area>
        </div>
    </div>
    <div class="header-right triangle-left col-md-4">
        <div class="row">
            <div class="col-2">
                <chutney-authoring-info [testCase]="gwtTestCase"></chutney-authoring-info>
            </div>
            <div class="col-2">
                <chutney-edition-info [testCase]="gwtTestCase"></chutney-edition-info>
            </div>
        </div>
        <div class="row form-group">
            <div class="p-0 align-self-center">
                <label class="form-control-label font-weight-bold" for="tags">{{ 'scenarios.edition.form.tags' | translate }}</label>
            </div>
            <div class="col">
                <textarea type="text" class="form-control tag-input no-resize" name="tags" id="tags" rows="2"
                      [ngModel]="gwtTestCase.tags" (ngModelChange)="updateTags($event)"></textarea>
            </div>
        </div>
    </div>
    <div class="action-pane">
        <button class="save-button" data-toggle="tooltip" title="Sauvegarder" [disabled]="errorMessage"
                (click)="saveExample()">
        </button>
    </div>
</div>
<div class="plugins">
    <form [formGroup]="pluginsForm" autocomplete="off">
        <div class="row">
            <div class="col-7 pl-2">
                <div class="form-inline">
                    <label class="form-control-label font-weight-bold mr-5" for="jiraId">{{'menu.principal.jiraId' | translate}}</label>
                    <input type="text" class="form-control small-text" id="jiraId"
                           formControlName="jiraId"
                           placeholder="ex. LK-42"/>
                </div>
            </div>
            <div class="col-5">
                <div *ngIf="saveErrorMessage" class="text-center btn-danger text-white cursor-default" (click)="this.saveErrorMessage = null">
                    <strong>{{ saveErrorMessage }}</strong>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="edition-body">
    <div *ngIf="gwtTestCase" class="float-right">
        <chutney-scenario-campaigns [idScenario]="gwtTestCase.id"></chutney-scenario-campaigns>
    </div>
    <form [formGroup]="componentForm" autocomplete="off">
        <div class="legend font-weight-bold pl-2 mt-3">
            <span class="legend-title" (click)="switchCollapseParam()">
                {{'components.shared.edition.blocks.parameters' | translate}}
            </span>
            <button class="btn btn-sm btn-light btn-outline-dark border-0" type="button"
                    (click)="switchCollapseParam()"
                    title="{{(collapseParam ? 'global.actions.show' : 'global.actions.hide') | translate}}">
                <span class="fa" [ngClass]="collapseParam ? 'fa-eye' : 'fa-eye-slash'"></span>
            </button>
        </div>
        <ng-container *ngIf="!collapseParam">
            <div class="row" formArrayName="parameters"
                 *ngFor="let parameter of componentForm.get('parameters')?.controls; let i = index;">
                <ng-container [formGroupName]="i">
                    <div class="col-2"></div>
                    <input type="text" class="col-2 form-control mr-2" formControlName="key"
                           placeholder="key"/>
                    <textarea class="col-6 form-control mr-2" formControlName="value" rows="1"
                              placeholder="value" (change)="paramValueChange()"></textarea>
                </ng-container>
            </div>
        </ng-container>
    </form>
    <hr/>
    <button class="show-code-btn btn float-right" (click)="switchCollapseTechnicalSteps()">
    </button>
    <div class="edition-content">
        <div>
            <form *ngIf="!errorMessage" class="form">
                <div *ngIf="gwtTestCase.scenario.givens.length == 0" class="form-group form-steps">
                    <button class="btn btn-secondary mb-1" (click)="addGivenStep(-1)"><i class="fa fa-plus"></i>
                        {{'global.bdd.given'
                            | translate}}
                    </button>
                </div>
                <div *ngIf="gwtTestCase.scenario.givens.length > 0" class="form-group form-steps">
                    <div *ngFor="let step of gwtTestCase.scenario.givens; index as i">
                        <chutney-functional-step [step]="step" [id]="'given-step-'+i" [exampleStepsType]="1"
                                                 [hideAnd]="false"
                                                 [stepWording]="stepWording('global.bdd.soit' | translate, i)"
                                                 [placeholder]="'global.bdd.given' | translate"
                                                 [exampleParams$]="exampleParams$"
                                                 [showTechnicalStep]="!collapseTechnicalSteps"
                                                 (deleteEvent)="deleteGivenStep(i)"
                                                 (andEvent)="addGivenStep(i)"
                                                 (refStepEvent)="setGivenStep(i, $event)"
                                                 (stepParamsEvent)="handleStepParamsEvent($event)"></chutney-functional-step>
                    </div>
                </div>
                <div class="form-group form-steps">
                    <ng-container *ngFor="let step of [gwtTestCase.scenario.when]">
                        <chutney-functional-step [step]="step" [id]="'when-step'" [exampleStepsType]="1"
                                                 [hideAnd]="true"
                                                 [hideDelete]="true"
                                                 [stepWording]="'global.bdd.when' | translate"
                                                 [placeholder]="'global.bdd.when' | translate"
                                                 [exampleParams$]="exampleParams$"
                                                 [showTechnicalStep]="!collapseTechnicalSteps"
                                                 (refStepEvent)="setWhenStep($event)"
                                                 (stepParamsEvent)="handleStepParamsEvent($event)"></chutney-functional-step>
                    </ng-container>
                </div>
                <div class="form-group form-steps">
                    <div *ngFor="let step of gwtTestCase.scenario.thens; index as i">
                        <chutney-functional-step [step]="step" [id]="'then-step-'+i" [exampleStepsType]="1"
                                                 [hideAnd]="false"
                                                 [hideDelete]="i == 0"
                                                 [stepWording]="stepWording('global.bdd.then' | translate, i)"
                                                 [placeholder]="'global.bdd.then' | translate"
                                                 [exampleParams$]="exampleParams$"
                                                 [showTechnicalStep]="!collapseTechnicalSteps"
                                                 (deleteEvent)="deleteThenStep(i)"
                                                 (andEvent)="addThenStep(i)"
                                                 (refStepEvent)="setThenStep(i, $event)"
                                                 (stepParamsEvent)="handleStepParamsEvent($event)"></chutney-functional-step>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-sm-12 btn-toolbar">
                    <div class="col-10">
                        <chutney-error-panel [errorMessage]="errorMessage"></chutney-error-panel>
                    </div>
                    <div *ngIf="errorMessage" class="btn-group">
                        <button type="button" class="btn btn-danger"
                                routerLink="{{'/scenario/' + gwtTestCase.id + '/raw-edition'}}">
                            <div class="fa fa-pencil-alt"></div>
                            <div class="btn-label">{{'global.actions.editRaw' | translate}}</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
