<div class="row step-container">
    <div class="col col-sm-11">
        <div class="row step">
            <div class="col">
                <div class="btn-toolbar">
                    <div class="mr-4"><em >{{step.name}}</em></div>
                    <div class="mr-4"><b class="mr-2">{{step.type}}</b> {{step.target}}</div>

                    <div *ngIf="step.inputs" class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-outline-secondary mr-2" (click)="inputCollapsed = !inputCollapsed" [attr.aria-expanded]="!inputCollapsed">{{ 'scenarios.execution.step.actions.details' | translate }}</button>
                    </div>
                </div>
                <div *ngIf="step.inputs" class="inputs">
                    <div *ngFor="let input of step.inputs | objectAsEntryList"  [ngbCollapse]="inputCollapsed" >
                        {{input.key}} :  {{input.value | stringify}}
                    </div>
                </div>

                <div class="row" *ngIf="step.steps">
                    <div *ngIf="step.steps" class="col">
                        <chutney-scenario-step *ngFor="let s of step.steps; let i = index" [step]="s" [id]="id + '_' + i"></chutney-scenario-step>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
