@import 'colors';
@import 'menu';

.profile-menu {
    width: $profile-width;
    height: 100%;
    z-index: 999;
    position: fixed;

    .logo {
        border-radius: 50%;
        width: 70px;
    }

    .profile-menu__profile {
        position: absolute;
        top: 29px;
        right: -35px;
    }
}
