<ng-template #editionInfo>
    <div>
        <div class="row m-0 text-nowrap justify-content-center">
            <label class="form-control-label m-0 fw-bold text-center">{{'scenarios.edition.authoring.author' | translate}}</label>
            <span class="form-control border-0 text-center">{{ testCase.author }}</span>
        </div>
        <div class="row m-0 text-nowrap justify-content-center">
            <label class="form-control-label m-0 fw-bold text-center">{{'scenarios.edition.authoring.created' | translate}}</label>
            <span class="form-control border-0 text-center">{{ testCase.creationDate | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</span>
        </div>
        <div class="row m-0 text-nowrap justify-content-center">
            <label class="form-control-label m-0 fw-bold text-center">{{'scenarios.edition.authoring.update' | translate}}</label>
            <span class="form-control border-0 text-center">{{ testCase.updateDate | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</span>
        </div>
    </div>
</ng-template>
<button type="button" class="btn btn-info me-0"
        [ngbPopover]="editionInfo" placement="bottom"
        triggers="mouseenter:mouseleave">
    <span class="fa fa-info-circle" aria-hidden="true"></span>
</button>
