@import 'global/mixins';
@import 'global/animations';

button span:not(:first-child) {
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

:host ::ng-deep button.trash-btn {
    height: 48px;
    font-size: 25px;
    color: white;
}

.badge-container {
    display: inline-block;
    margin: 10px 0 5px 20px;
}

.error {
    color: var(--bs-warning);
    margin-bottom: 30px;
}

.background-white {
    background-color: white;
}

.gwt::before {
    //background: $neutral;
    //color: $grisfonce;
    font-size: 9px;
    font-weight: bold;
    padding: 3px 5px;
    text-transform: uppercase;
}

#given::before {
    content: "Given";
}

#when::before {
    content: "When";
}

#then::before {
    content: "Then";
}

div.step-container-wrapper {
    margin: 1px;
    line-height: normal;
    font-size: 14px;
}

div.step-container {
    margin: 5px 0 5px 0;
    border-radius: 4px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

div.step-container:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.highlight {
    color: white;
    background-color: var(--bs-primary) !important;
}

/////////////////////////////////////////////////////////////////////////////////
.report-raw {

    .step-header-success {
        color: var(--bs-green);
    }
    .step-header-failure {
        color: var(--bs-red);
    }
    .step-header-stopped {
        color: var(--bs-gray-600);
    }
    .step-header-not-executed {
        color: var(--bs-purple);
    }
    .step-header-running {
        @include animation(
            $animation_name: step-header-running-anim,
            $animation_duration: 1000ms,
            $animation_timing-function: linear,
            $animation_iteration-count: infinite,
            $animation_direction: alternate);
    }

    .step-info {
        color: var(--bs-cyan);
    }
    .step-error {
        color: var(--bs-red);
    }

    @include color-animation(
        $animation_name: step-header-running-anim,
        $fromColor: var(--bs-yellow),
        $toColor: var(--bs-grey-400)
    );

    .copy-row {
        .copy {
            visibility: hidden;
        }

        &:hover {
            .copy {
                visibility: visible;
                cursor: pointer;
            }
        }
    }
}

.ctx-var-raw {
    .copy-row {
        .copy {
            visibility: hidden;
        }

        &:hover {
            .copy {
                visibility: visible;
                cursor: pointer;
            }
        }
    }
}
