<div class="row m-5 pointer" *ngIf="errorMessage" (click)="errorMessage = null">
    <chutney-error-panel [errorMessage]="errorMessage"></chutney-error-panel>
</div>
<ng-container *ngIf="envForm">
    <div class="row m-3">
        <div class="col-md-6">
            <form [formGroup]="envForm">
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label">Name</label>
                    <div class="col-9 pe-0">
                        <input id="name" type="text" class="form-control" formControlName="name"/>
                    </div>
                    <label for="description" class="col-3 col-form-label">Description</label>
                    <div class="col-9 pe-0">
                            <input id="description" type="text" class="form-control" formControlName="description"/>
                    </div>
                </div>
                <button *ngIf="!envUpdate" type="button" class="btn btn-success m-3" (click)="updateEnvironment()">{{ 'global.actions.create' | translate }}</button>
                <button *ngIf="envUpdate" type="button" class="btn btn-success m-3" (click)="updateEnvironment()">{{ 'global.actions.edit' | translate }}</button>
                <button type="button" class="btn btn-secondary m-3" (click)="cancelEnvironment()">{{ 'global.actions.cancel' | translate }}</button>
            </form>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!envForm">
    <div class="row m-3" >
        <div class="col" *ngIf="environments">
            {{ 'admin.targets.environment' | translate }}:
            <chutney-environment-combo [environments]="environmentsNames" (selectionEvent)="changingValue($event)">
            </chutney-environment-combo>
            <div class="btn-group mx-3" role="group">
                <button type="button" class="btn btn-info rounded" (click)="initForUpdateEnvironment()">{{ 'global.actions.update' | translate }}</button>
                <button type="button" class="btn btn-info mx-3 rounded" (click)="initEnvironment()">{{ 'global.actions.add' | translate }}</button>
                <chutney-delete-confirm-dialog [dialogMessage]="('global.confirm.question' | translate) + ' ' + ('global.actions.delete' | translate) + '\n' + selectedEnvironment.name"
                                               [label]="'Delete Environment'"
                                               [disabled]="!selectedEnvironment"
                                               (deleteEvent)="deleteEnvironment()"
                                                class="align-self-center">
                </chutney-delete-confirm-dialog>
            </div>
            <div class="btn-group ms-3" role="group">
                <button type="button" class="btn btn-success ms-1 align-self-center rounded" (click)="exportEnvironment()">{{ 'global.actions.export' | translate }}</button>
                <chutney-import-button (submitEvent)="importEnvironment($event)"></chutney-import-button>
            </div>
        </div>
    </div>

    <div class="ml-5 row m-3 w-25">
        <div class="left-panel">
            <input name="search" type="text" class="form-control mb-2" placeholder="Search target" [(ngModel)]="targetFilter"/>
            <table class="table table-striped table-hover">
                <tbody>
                    <tr *ngFor="let target of targets | searchTextPipe: targetFilter:['name']" (click)="selectTarget(target)"  class="pointer" >
                        <td  style="width:325px;">
                            {{target.name}}
                        </td>
                        <td>
                            <small>
                                ({{target.url.split(':')[0]}})
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col ps-4">
            <div class="sticky-top-admin">
                <div *ngIf="!selectedTarget">
                    <chutney-add-target-dialog (onSave)="addTarget($event)"></chutney-add-target-dialog>
                    <chutney-import-file (importEvent)="importTarget($event)" [multiple]="true"></chutney-import-file>
                </div>
                <div *ngIf="selectedTarget">
                    <div  class="col-md-12">
                        <button type="button" class="btn btn-success me-3" (click)="updateSelectedTarget()"> <span class="fa fa-check"></span> {{'global.actions.save' | translate}}</button>
                        <button type="button" class="btn btn-success accept-spinner me-3" (click)="exportTarget()"><span class="fa fa-download"> </span> {{'global.actions.export' | translate}}</button>
                        <button type="button" class="btn btn-secondary me-4" (click)="cancelSelectedTarget()">{{'global.actions.cancel' | translate}}</button>
                        <chutney-delete-confirm-dialog
                            [dialogMessage]="('global.confirm.question' | translate) + ' ' + ('global.actions.delete' | translate) + '\n' + selectedTarget.name"
                            [label]="'Delete Target'"
                            [disabled]="null"
                            (deleteEvent)="deleteTarget(selectedTarget)">
                        </chutney-delete-confirm-dialog>
                        <chutney-forms-editable-label style="min-width: 70%;" [id]="'targetName'" [placeholder]="'Name'" [(model)]="selectedTarget.name" [type]="'form-title'"></chutney-forms-editable-label>

                        <chutney-forms-input-line [id]="'targetUrl'" [label]="'Url'" [placeholder]="'protocol://server:port'" [(model)]="selectedTarget.url" [validate]="validationService.isValidUrl.bind(validationService)"></chutney-forms-input-line>
                        <div class="mt-2">
                            <button class="btn btn-sm btn-info float-right ms-1" title="{{'global.actions.help' | translate}}" (click)="help = !help">
                                {{'global.actions.help' | translate}} <span class="fa fa-info"></span>
                            </button>
                            <div *ngIf="help">
                                <pre class="text-white bg-info rounded overflow-auto">

  Some properties that could be defined :
   - user / username / password / userPassword              : user id to be used and associated password
   - trustStore / trustStorePassword                        : path to a truststore and associated password
   - keyStore / keyStorePassword / keyPassword              : path to a keystore and associated passwords
   - privateKey / privateKeyPassword / privateKeyPassphrase : path to a keystore and associated password
                                </pre>
                            </div>
                            <chutney-property-table-panel [entries]="selectedTarget.properties"></chutney-property-table-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
