@import "~bootstrap/scss/bootstrap";;

.pointer {
    cursor: pointer;
}

.sticky-top-admin {
    position:sticky;
    top:100px;
}

.left-panel {
  width:400px;
}

table {
  table-layout: fixed;
  width:400px;
}

th,
td {
  overflow: hidden;
}

.btn-info{
background-color: var(--bs-info);
border-color: var(--bs-info);
}
