<div class="row m-5" *ngIf="errorMessage">
    <chutney-error-panel [errorMessage]="errorMessage"></chutney-error-panel>
</div>
<ng-container *ngIf="envForm">
    <div class="row m-3">
        <div class="col-md-6">
            <form [formGroup]="envForm">
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label">Name</label>
                    <div class="col-9 pr-0">
                        <input type="text" class="form-control" formControlName="name"/>
                    </div>
                    <label for="description" class="col-3 col-form-label">Description</label>
                    <div class="col-9 pr-0">
                            <input type="text" class="form-control" formControlName="description"/>
                    </div>
                </div>
                <button *ngIf="!envUpdate" type="button" class="btn btn-success m-3" (click)="updateEnvironment()">{{ 'global.actions.create' | translate }}</button>
                <button *ngIf="envUpdate" type="button" class="btn btn-success m-3" (click)="updateEnvironment()">{{ 'global.actions.edit' | translate }}</button>
                <button type="button" class="btn btn-secondary m-3" (click)="cancelEnvironment()">{{ 'global.actions.cancel' | translate }}</button>
            </form>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!envForm">
    <div class="row m-3" >
        <div class="col" *ngIf="environments">
            {{ 'admin.targets.environment' | translate }}:
            <chutney-environment-combo [environments]="environmentsNames" (selectionEvent)="changingValue($event)">
            </chutney-environment-combo>
            <button type="button" class="btn btn-success m-3" (click)="initForUpdateEnvironment()">{{ 'global.actions.update' | translate }}</button>
            <button type="button" class="btn btn-success m-3" (click)="initEnvironment()">{{ 'global.actions.add' | translate }}</button>
            <button type="button" class="btn btn-success m-3" (click)="exportEnvironment()">{{ 'global.actions.export' | translate }}</button>
            <button type="button" class="btn btn-success m-3" (click)="deleteEnvironment()">{{ 'global.actions.delete' | translate }}</button>
            <chutney-import-button (submitEvent)="importEnvironment($event)"></chutney-import-button>
        </div>
    </div>

    <div class="row m-3">
        <div class="left-panel">
            <input name="search" type="text" class="form-control mb-2" placeholder="Search target" [(ngModel)]="targetFilter"/>
            <table class="table table-striped table-hover">
                    <tr *ngFor="let target of targets | searchTextPipe: targetFilter:['name']" (click)="selectTarget(target)"  class="pointer" >
                        <td  style="width:325px;">
                            {{target.name}}
                        </td>
                        <td>
                            <small>
                                ({{target.url.split(':')[0]}})
                            </small>
                        </td>
                    </tr>
            </table>
        </div>
        <div class="col">
            <div class="sticky-top-admin">
                <div *ngIf="!selectedTarget">
                    <chutney-add-target-dialog (onSave)="addTarget($event)"></chutney-add-target-dialog>
                    <chutney-import-file (importEvent)="importTarget($event)" [multiple]="true"></chutney-import-file>
                </div>
                <div *ngIf="selectedTarget">
                    <div  class="col-md-10">
                        <button type="button" class="btn btn-success mr-3" (click)="updateSelectedTarget()"> <span class="fa fa-check"></span> {{'global.actions.save' | translate}}</button>
                        <button type="button" class="btn btn-success accept-spinner mr-3" (click)="exportTarget()"><span class="fa fa-download"> </span> {{'global.actions.export' | translate}}</button>
                        <button type="button" class="btn btn-secondary mr-4" (click)="cancel()">{{'global.actions.cancel' | translate}}</button>
                        <chutney-delete-confirm-dialog
                            [dialogMessage]="('global.confirm.question' | translate) + ' ' + ('global.actions.delete' | translate) + '\n' + selectedTarget.name"
                            [label]="'Delete Target'"
                            [disabled]="null"
                            (deleteEvent)="deleteTarget(selectedTarget)">
                        </chutney-delete-confirm-dialog>
                        <chutney-forms-editable-label style="min-width: 70%;" [id]="'targetName'" [placeholder]="'Name'" [(model)]="selectedTarget.name" [type]="'form-title'"></chutney-forms-editable-label>

                        <chutney-forms-input-line [id]="'targetUrl'" [label]="'Url'" [placeholder]="'protocol://server:port'" [(model)]="selectedTarget.url" [validate]="validationService.isValidUrl.bind(validationService)"></chutney-forms-input-line>
                        <div class="mt-2">
                            <chutney-collapsible-panel [title]="'Properties'">
                                <chutney-property-table-panel [entries]="selectedTarget.properties"></chutney-property-table-panel>
                            </chutney-collapsible-panel>
                        </div>
                        <div class="mt-3">
                            <chutney-collapsible-panel [title]="'Security'">
                                <chutney-forms-input-line [id]="'targetUsername'" [label]="'Username'" [placeholder]="'Username'" [(model)]="selectedTarget.username"></chutney-forms-input-line>
                                <chutney-forms-input-line [id]="'targetPassword'" [label]="'Password'" [placeholder]="'Password'" [(model)]="selectedTarget.password"></chutney-forms-input-line>
                                <chutney-forms-input-line [id]="'targetKeystore'" [label]="'Keystore Path'" [placeholder]="'Keystore Path'" [(model)]="selectedTarget.keyStore"></chutney-forms-input-line>
                                <chutney-forms-input-line [id]="'targetKeystorePassword'" [label]="'Keystore Password'" [placeholder]="'Keystore Password'" [(model)]="selectedTarget.keyStorePassword"></chutney-forms-input-line>
                                <chutney-forms-input-line [id]="'targetPrivateKey'" [label]="'Private Key'" [placeholder]="'Private Key'" [(model)]="selectedTarget.privateKey"></chutney-forms-input-line>
                            </chutney-collapsible-panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
