@import 'colors';

fieldset legend {
    width: auto;
    font-size: 1rem;
}

.legend-title {
    cursor: default;
    display: inline-block;
    width: 150px;
}

.component-type {
    position: relative;
    top: -5px;
}

.edition-header {
    height: 170px;
}

.edition-body {
    height: calc(100vh - (50px + 10px + 170px + 10px + 10px));
    overflow-y: auto;
}

textarea.no-resize {
    resize: none;
}

.cursor-default {
    cursor: default;
}

.right-panel-minimize {
    width: 45px;
}

.edition-action-minimize {
    width: calc(100% - 45px/*right-panel*/);
}

.right-panel-minimize-btn {
    position: fixed;
    margin-left: -5px;
}

.right-panel-content {
    margin-left: 15px;
}
