
$edition-header-height:230px;

fieldset legend {
    width: auto;
    font-size: 1rem;
}

.legend-title {
    cursor: default;
    display: inline-block;
    width: 150px;
}

.component-type {
    position: relative;
    top: -5px;
}

.edition-header {
    height: $edition-header-height;
}

.edition-body {
    height: calc(100vh - (60px + 1.5rem + $edition-header-height + 10px + 15px));
    overflow-y: auto;
}

textarea.no-resize {
    resize: none;
}

.cursor-default {
    cursor: default;
}

.right-panel-minimize {
    width: 45px;
}

.edition-action-minimize {
    width: calc(100% - 45px/*right-panel*/);
}

.right-panel-minimize-btn {
    float: left;
    height: calc(100vh - (60px + 1.5rem + $edition-header-height + 1.5rem + 15px));
    border: none;
}

.right-panel-content {
    margin-left: 15px;
}
