.icon-primary {
    color: var(--bs-primary);
}

.icon-info {
    color: var(--bs-info);
}

.icon-danger {
    color: var(--bs-danger);
}

.icon-warning {
    color: var(--bs-warning);
}

.icon-light {
    color: var(--bs-dark);
}
