
.chutney-tag {
    cursor: pointer;
    padding: .3rem .4rem;
    font-size: .65rem;
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: 1px solid transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: 8px;
    margin: 3px;
}

.chutney-tag-selected {
    background-color: var(--bs-primary);
}

.chutney-tag-unselected {
    background-color: var(--bs-dark);
}
