<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title">{{ 'home.edition.dialog.title' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="homePage">
           <!-- <div chutneyAceEditor id="editor"
                 [(text)]="homePage.content"
                 [mode]="editorMode.name"
                 [theme]="editorTheme.name"
                 [options]="aceOptions"
                 (textChanged)="onHomePageContentChanged($event)"
                 [readOnly]="false"
                 (editorRef)="resizeEditor()">
            </div>-->
        </ng-container>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-success">
        <span class="fa fa-check"></span>&nbsp;<span>{{ 'global.actions.record' | translate }}</span>
      </button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-times"></span>&nbsp;<span>{{ 'global.actions.cancel' | translate }}</span>
        </button>
    </div>
</form>
