<form name="editForm"  role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="m-2">
        <h4>{{ 'home.edition.dialog.title' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="m-2">
        <ng-container *ngIf="homePage">
            <chutney-ace-editor
                [initialContent]="homePage.content"
                [modes]="['asciidoc']"
                (textChangeEvent)="onHomePageContentChanged($event)">
            </chutney-ace-editor>
        </ng-container>
    </div>
    <div class="m-2">
        <button type="submit" class="btn btn-outline-success mr-2">
            <span class="fa fa-check"></span>&nbsp;<span>{{ 'global.actions.record' | translate }}</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-times"></span>&nbsp;<span>{{ 'global.actions.cancel' | translate }}</span>
        </button>
    </div>
</form>

