<form name="editForm"  role="form" novalidate (ngSubmit)="save()" #editForm="ngForm" class="homepage-editor">
    <div class="m-2">
        <h4>{{ 'home.edition.dialog.title' | translate }}</h4>
    </div>
    <div class="m-2">
        <ng-container *ngIf="homePage">
            <chutney-editor
                [content]="homePage.content"
                [modes]="['asciidoc']"
                (onContentChange)="onHomePageContentChanged($event)">
            </chutney-editor>
        </ng-container>
    </div>
    <div class="m-2 float-end">
        <button type="submit" class="btn btn-outline-success me-2">
            <span class="fa fa-check"></span>&nbsp;<span>{{ 'global.actions.record' | translate }}</span>
        </button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-times"></span>&nbsp;<span>{{ 'global.actions.cancel' | translate }}</span>
        </button>
    </div>
</form>

