<div class="row g-1 py-1 align-items-center">
    <div class="col">
        <input class="form-control form-control-sm" type="text"
               placeholder="{{ 'admin.agents.name.placeholder' | translate }}"
               required [(ngModel)]="configurationAgent.name">
    </div>
    <div class="col">
        <input class="form-control form-control-sm" type="text" placeholder="{{ 'admin.agents.name.host' | translate }}"
               required [(ngModel)]="configurationAgent.host">
    </div>
    <div class="col-sm-1 text-center">:</div>
    <div class="col-2">
        <input class="form-control form-control-sm" type="text" pattern="\d{1,5}"
               placeholder="{{ 'admin.agents.name.port' | translate }}"
               required maxlength="5" [(ngModel)]="configurationAgent.port">
    </div>
    <div class="col-sm-1 text-center">
        <button class="btn btn-sm" type="button" (click)="removeAgent()">
            <span class="fa fa-times"></span>
        </button>
    </div>
</div>
