@import 'colors';

.app-layout {
    min-height: 100vh;
  }

.logo {
    background: rgba(255, 255, 255, 0.2);
    float: left;
  }

.login {
    padding-top: 50px;
    height:100%;
}

.login-form {
    min-width: 300px;
    max-width: 300px;
}

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}
