.login-container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    justify-items: center; 
    align-items: center; 
}

.login-background {
    background-color: #f8f9fa;
}

.logo {
    width: 50px;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2em;
}
.custom-class {
    display: none;
}

@media (min-width: 992px) {
    .custom-class {
        display: block;
    }
    .login-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 0px 0px; 
        justify-items: center; 
        align-items: center; 
    }
}
