@import "~bootstrap/scss/bootstrap";;

:host {
  width: 100%;
}

div.collapsible-title {
    color: $teal-100;
    cursor: pointer;
    overflow: hidden;

    span.fa {
        font-size: 1.5em;
    }

    &:after {
        content:"";
        display: inline-block;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.4em;
        border-top: 1px solid $teal-100;
        z-index: -1;
        margin-left: 10px;
    }
}
.collapsible-content {
    margin-left: 5px;
    border: 1px solid lightgray;
    border-top-width: 0;
    border-right-width: 0;
    padding: 5px;
}
