.component-right-content{
    height: calc(100vh - 255px);
    overflow-y: auto;
    overflow-x: hidden;
}

.edition-body {
    .drop-zone {
        background-color: lightgray;
        font-size: 12px;
        min-height: 60px;
    }
}

.table-scroll {
    height: calc(100vh - 310px);
    overflow-x: hidden;
    overflow-y: auto;
}

textarea {
    &#title {
        font-size: smaller;
    }
    &#description {
        font-size: x-small;
    }
    &#tags {
        font-size: smaller;
    }
}
