.component-list {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
    table {
        table-layout: fixed;
    }
    scrollbar-width: thin;
}

.component-right-content{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.edition-body {
    .drop-zone {
        background-color: lightgray;
        font-size: 12px;
        min-height: 60px;
    }
}

