<div *ngIf="errorMessage" class="text-center btn-danger text-white cursor-default" (click)="this.errorMessage = null">
    <strong>{{ errorMessage }}</strong>
</div>

<form [formGroup]="componentForm" autocomplete="off">

    <div class="row mb-2">
        <div class="col-6">
            <div class="mb-2">
                <textarea type="text" id="title" class="form-control"
                          placeholder="Title"
                          [(ngModel)]="scenarioComponent.title"
                          [ngModelOptions]="{standalone: true}">
                </textarea>
            </div>
            <div class="mb-2">
                <textarea type="text" id="description" class="form-control"
                          placeholder="Description"
                          [(ngModel)]="scenarioComponent.description"
                          [ngModelOptions]="{standalone: true}">
                </textarea>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-3">
                    <button type="button" class="btn btn-primary ms-3 rounded" (click)="save()"
                            title="{{'global.actions.record' | translate}}">
                        {{'global.actions.save' | translate}}
                    </button>

                    <button type="button" class="btn btn-light ms-3 rounded" (click)="cancel()"
                            title="{{'global.actions.cancel' | translate}}">
                        {{ 'global.actions.cancel' | translate }}
                    </button>
                </div>
                <div *ngIf="scenarioComponent && scenarioComponent.id" class="d-flex flex-wrap">
                    <chutney-authoring-info [testCase]="scenarioComponent"></chutney-authoring-info>
                    <chutney-edition-info class="ms-3" [testCase]="scenarioComponent"></chutney-edition-info>
                </div>
            </div>
        </div>
        <div class="col-3 text-center">
            <label class="form-label fw-bold"
                   for="tags">{{ 'scenarios.edition.form.tags' | translate }}</label>
            <textarea type="text" class="form-control" name="tags" id="tags"
                      formControlName="tags" rows="3"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input name="search" type="text" class="form-control my-2"
                    placeholder="{{'components.shared.list.filter.placeholder' | translate}}"
                    [(ngModel)]="componentFilter" [ngModelOptions]="{standalone: true}"/>
            <div class="table-scroll">
                <table class="table table-sm table-striped table-hover">
                    <tbody dragula="COPYABLE" id="left"
                            [dragulaModel]="componentRefTasksArray | searchTextPipe: componentFilter:['name']">
                    <tr *ngFor="let component of componentRefTasksArray | searchTextPipe: componentFilter:['name']"
                        class="pointer">
                        <td>
                            <span class="fa" [ngClass]="component.implementation ? 'fa-clone' : 'fa-cubes'"></span>
                            {{component.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="component-right-content col-md-9">
            <div class="row">
                <div class="col-md-8">
                    <!-- div5-->
                    <div class="row mx-1 fw-bold text-center">
                        <span class="legend-title">{{'components.testcase.edition.blocks.steps' | translate}}</span>
                    </div>
                    <div class="row p-2 border drop-zone" dragula="COPYABLE"
                        [(dragulaModel)]="componentTasksCreated" id="right"
                        title="{{'components.shared.edition.draganddrop' | translate}}">
                        <div *ngFor="let component of componentTasksCreated; let i=index" class="card mb-1">
                            <chutney-component-card
                                [component]="component"
                                (deleteEvent)="removeComponent(i)">
                            </chutney-component-card>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- div6-->
                    <div class="my-1">
                        <span class="me-5">{{'menu.principal.jiraId' | translate}}</span>
                        <input type="text" class="form-control me-2 small-text"
                            formControlName="jiraId"
                            placeholder="id jira"/>
                    </div>
                    <div class="my-1">
                        <span class="me-5">{{'menu.principal.dataset' | translate}}</span>
                        <chutney-dataset-selection
                            [selectedDatasetId]="scenarioComponent.datasetId"
                            (selectionEvent)="selectDataset($event)">
                        </chutney-dataset-selection>

                    </div>
                    <div>
                        <span class="me-5 cursor-default w-30"
                            (click)="switchCollapseParam()">{{'components.shared.edition.blocks.parameters' | translate}}</span>
                        <button class="btn btn-sm btn-light btn-outline-dark border-0 w-10" type="button"
                                (click)="switchCollapseParam()"
                                title="{{(collapseParam ? 'global.actions.show' : 'global.actions.hide') | translate}}">
                            <span class="fa" [ngClass]="collapseParam ? 'fa-eye' : 'fa-eye-slash'"></span>
                        </button>
                        <button id="addParameterBtn" class="btn btn-sm btn-light btn-outline-dark border-0 ms-sm-1 w-10"
                                (click)="addParameters()"
                                title="{{'global.actions.add' | translate}}">
                            <span class="fa fa-plus"></span>
                        </button>
                    </div>
                    <ng-container *ngIf="!collapseParam">
                        <div class="row" formArrayName="parameters"
                            *ngFor="let parameter of componentForm.get('parameters')?.controls; let i = index;">
                            <ng-container [formGroupName]="i">
                                <div class="col-10 g-3">
                                    <input type="text" class="form-control form-control-sm parameter-text mb-1"
                                           formControlName="key"
                                           placeholder="key"/>
                                    <textarea class="form-control form-control-sm parameter-text" formControlName="value" rows="1"
                                              placeholder="value"></textarea>
                                </div>
                                <div class="col-2 p-1 align-self-center">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-danger delete-button-height float-end"
                                            (click)="removeParameter(i)">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</form>
