.scenario-component-edition-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;

}

.sub-container-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    max-height: 87vh;
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;

}
.div1 {
   // display: flex;


}

.sub-container-right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    max-height: 87vh;
    overflow-y: auto;
    position: -webkit-sticky;
    position: sticky;
}

.div2 {
    grid-row: 1;
    grid-column: 1;
}

.div3 {
    grid-row: 1;
    grid-column: 2;
}

.edition-body {
    .drop-zone {
        background-color: lightgray;
        font-size: 12px;
        min-height: 60px;
    }
}

