@import 'colors';
@import 'menu';

.menu-item {
    height: $nav-height;
    padding: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    white-space: nowrap;

    a {
        color: $grisclair1;
    }

    img {
        margin-right: 3px;
        width: 18px;
        height: 18px;
    }

    span {
        margin-right: 5px;
    }
}

.menu-item--active {
    font-size: 20px;
    font-weight: bold;
    height: $nav-height;
    padding-top: 0;

    a {
        color: $grisfonce;
    }

    img {
        width: 20px;
        height: 20px;
    }
}