// Logo
$bleu1: #0177C1;
$bleu2: #6BBDDD;
$bleu3: #1088A1;
$bleu4: #0C657A;
$bleu5: #05343A;
$bleu6: #2997A3;
$bleu7: #D9F3F4;

$vert1: #40BEA1;
$vert2: #53DCCD;
$vert3: #84EFDF;
$vert4: #E5F9F5;

// Neutre
$blanc: #FFFFFF;

$grisfonce: #333333;
$grisfonce1: #3D3D3D;
$grisfonce2: #686C71;
$grisfonce3: #84898F;

$grisclair1: #B2BAC4;
$grisclair2: #F8F8F8;

// Secondaires
$liens: #76B0DB;
$positive: #A7A7CC;
$neutral: #CAE682;
$labelko: #EA7677;
