@import "hljs-overide.scss";
@import "dragula.scss";
@import 'colors';
@import 'fonts';
@import 'alias';
@import 'themes/flatly/variables';
@import "~bootstrap/scss/bootstrap";
@import 'themes/flatly/bootswatch';

$row-margin-up-down: 10px !default;

body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    line-height: 1.66666667;
    color: #363636;
    background-color: white;
    overflow: hidden;
}

h1,
h2 {
    font-weight: 300;
}

h1 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    font-size: 24px;
    margin: 10px 0 20px;
}

h2 {
    font-size: 19px;
}

a {
    color: #0088ce;
    text-decoration: none;
    background-color: transparent;
}

.container-fluid {
    padding: 60px 50px;
}

.tile-click:hover {
    box-shadow: 0 2px 12px -1px rgba(0, 0, 0, .3), 0 4px 5px 0 rgba(0, 0, 0, .11), 0 1px 10px 0 rgba(0, 0, 0, .1);
}

.tile.tile-project {
    min-height: 75px;
}

.tile-click {
    //cursor: pointer;
    position: relative;
}

.tile {
    background: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .15), 0 2px 2px 0 rgba(0, 0, 0, .1), 0 1px 5px 0 rgba(0, 0, 0, .09);
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    // overflow-x: hidden;
}

.tile,
.tile-flex {
    transition: .3s cubic-bezier(.25, .8, .25, 1);
}

@media (min-height: 801px) {
    .scenario-read-view {
        height: 670px;
    }
}

@media (max-height: 800px) {
    .scenario-read-view {
        height: 400px;
    }
}

pre {
    padding: 0;
    margin-bottom: 0;
}

pre>code {
    padding: 0;
}

caption {
    font-weight: bolder;
    font-size: larger;
}

.row {
    margin: $row-margin-up-down 0 $row-margin-up-down 0;
}

div.alert.not-found {
    text-align: center;
    vertical-align: middle;
    padding: 120px;
    font-size: 130%;
}

// Buttons customs

button.btn {
    cursor: pointer;

    &[disabled] {
        cursor: not-allowed;
    }
}

@media (min-width: 992px) {
    .scenario-modal {
        .modal-dialog {
            max-width: 1200px;
        }

        .modal-content {
            height: 90%;
        }
    }

}

.default-modal {
    .modal-dialog {
        border-radius: 10px;

        .modal-content {
            border-radius: inherit;
            background-color: rgba(255, 255, 255, .8);
        }
    }
}

// multi-select
.custom-multiselect .selected-list .c-btn {
    color: black !important;
    border: 0 !important;
    border-bottom: 1px solid $vert2 !important;
    box-shadow: unset !important;
    border-radius: 0 !important;
    margin-left: 30px;
}

.selected-list .fa-angle-down,
.selected-list .fa-angle-up {
    color: $vert2 !important;
}

.custom-multiselect .c-token {
    background: $vert2 !important;
}

.custom-multiselect .pure-checkbox label::before {
    border-color: $vert2 !important;
    background: $vert2 !important;
}

.custom-multiselect .pure-checkbox input[type="checkbox"]:checked+label[_ngcontent-c1]:before {
    background: $vert2 !important;
}

// Errors
.text-danger {
    word-wrap: break-word;
}

.thumbnail {
    width: 95%;
    margin: 4px;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;

    &:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
}

.cursor-default {
    cursor: default;
}

/////// REMOVED IN BOOTSTRAP 5
.form-group {
    margin-bottom: 1rem;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

label {
    margin-bottom: 0.5rem;
}

$width: 5;
@while $width <= 100 {
    .w-#{$width} {
        width: $width * 1%;
    }
    $width: $width + 5;
}
