# Install npm & node by loading ./default.nix expression
use_nix .env.nix

export NPM_CONFIG_PROXY=$http_proxy && echo "Set NPM proxy to" $NPM_CONFIG_PROXY

# Create symlinks and folders for frontend-maven-plugin
# Create folder
[[ ! -d ./node ]] && mkdir node && echo "Create node folder"

# Symlink node
ln -sf $(readlink -f $(which node)) ./node/node && echo "Symlink node to $(readlink -f $(which node))"

# Symlink npm
ln -sf $(readlink -f $(which npm)) ./node/npm && echo "Symlink npm to $(readlink -f $(which npm))"
ln -sfn $(dirname "$(dirname "$(readlink -f $(which npm))")") node/npm_home && echo "Symlink npm home dir"

# Run npm install if necessary
[[ ! -d ./node_modules ]] && echo "node_modules not found. Starting npm install" && npm install

# Symlink node_modules
[[ ! -L ./node/node_modules ]] && ln -s $(readlink -f ./node_modules) ./node && echo "Symlink node_modules to $(readlink -f node_modules)"
