.box2 {
    display: inline-block;
    margin: 0.2em;
}

.value {
    font-size: 0.75em;
    margin: 0.2em;
    width: 100%;
    resize: both;
}

.form {
    overflow: auto;
    display: table;
}

div.wrap {
    float: none;
    display: table-cell;
    vertical-align: top;
}
