<div class="mt-3" *ngIf="parameters.length > 0" [formGroup]="parameterForm">
    <div *ngFor="let parameter of parameters"  class="row">
        <label for="strategy-{{parameter.name}}" class="col-3 mb-0 text-center align-self-center">
            {{parameter.name}}
        </label>
        <input id="strategy-{{parameter.name}}" type="text" autocomplete="off"
               class="col-9 mx-5 form-control"
               [ngClass]="{
                'is-valid': parameterForm.get(parameter.name).valid && parameterForm.get(parameter.name).enabled,
                'is-invalid': !parameterForm.get(parameter.name).valid && parameterForm.get(parameter.name).enabled
               }"
               formControlName="{{parameter.name}}" />
    </div>
</div>
