# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Cache maven
      uses: actions/cache@v2.1.3
      with:
        path: ~/.m2/repository
        key: maven_cache    
    - name: Cache maven
      uses: actions/cache@v2.1.3
      with:
        path: ~/ui/node
        key: node_cache  
    - name: Cache maven
      uses: actions/cache@v2.1.3
      with:
        path: ~/ui/node_modules
        key: node_module_cache   
    - name: Build with Maven
      run: mvn -B -V verify
    - name: Codecov
      uses: codecov/codecov-action@v1.2.1
      with:
        file: ./target/site/jacoco/jacoco.xml
