# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache maven
      uses: actions/cache@v2.1.3
      with:
        path: ~/.m2/repository
        key: maven_cache
    - name: Cache node
      uses: actions/cache@v2.1.3
      with:
        path: '**/node'
        key: node_cache
    - name: Cache node_modules
      uses: actions/cache@v2.1.3
      with:
        path: '**/node_modules'
        key: node_module_cache
    - name: Build with Maven
      env:
        BUILD_ENV: 'github-actions'
      run: mvn -B -V verify
    - name: Codecov
      uses: codecov/codecov-action@v1.2.1
