name: Test

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    name: Deploy to bintray
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      # - name: Compile
      #  run: mvn package -DskipTests
      #  env:
      #    BUILD_ENV: 'github-actions'
      # - name: List files
      #  working-directory: ${{ github.workspace }}
      #  run: |
      #    ls -la 
      #    ls -la packaging/local-dev/target/
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Test
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
         
